#
# Resource file for CO2 parameters. 
#

number_CO2_bins:      1 
CO2_regions:          ExtData/PIESA/sfc/ARCTAS.region_mask.x540_y361.2008.nc
CO2_regions_indices: -1 1 2 5

# Run year-specific CMS emissions (0 runs climatological monthly mean emissions, 1 runs CMS)
# ------------------------------------------------------------------------------------------
CMS_EMIS: 0

#                                 ---------------
#                                 Biomass Burning 
#                                 ---------------

# For biomass burning emissions -- assume the units are kg m-2 s-1 of something
# Use emission factors to scale.  E.g., if emissions provided are
# CO2 already, the emission factor is 1; if the emissions are
# something else (like dry matter) then use an appropriate scaling
# factor

# Near real-time QFED v2.x: emission file provides kg CO2 m-2 s-1
# ----------------------------------------------------------
CO2_biomass_emission_filename: ExtData/PIESA/sfc/QFED/NRT/v2.5r1_0.1_deg/Y%y4/M%m2/qfed2.emis_co2.006.%y4%m2%d2.nc4
CO2_biomass_emission_factor: 1.


#                               ------------------------
#                               Climatological Emissions
#                               ------------------------

CO2_fossilfuel_emissions_filename: ExtData/PIESA/sfc/bian.co2.x288_y181_t12.2001.nc
CO2_fossilfuel_emissions_factor: 1.

CO2_biosphere_emissions_filename:  ExtData/PIESA/sfc/bian.co2.x288_y181_t12.2001.nc
CO2_ocean_emissions_filename:      ExtData/PIESA/sfc/bian.co2.x288_y181_t12.2001.nc

#                                  -------------
#                                  CMS Emissions
#                                  -------------

CMS_biomass_emission_filename: ExtData/PIESA/sfc/CMS/em.daily.1x1.25.%y4.nc
CMS_biomass_emission_factor: 1.

CMS_fossilfuel_emissions_filename: ExtData/PIESA/sfc/CMS/ORNL_TRANSCOM.co2_ff_nep_ocn.x288_y181_t12.%y4.nc
CMS_fossilfuel_emissions_factor: 1.

CMS_biosphere_emissions_filename:  ExtData/PIESA/sfc/CMS/casa.3hr.1x1.25.%y4.nc
CMS_ocean_emissions_filename: ExtData/PIESA/sfc/CMS/NOBM_fco2.daily.1x1.25.%y4.nc

# Biosphere drawdown enhancement factor used for climatological emissions.
# Range: < 0 invalid, < 1 reduce sink, 1 neutral, > 1 enhance sink.
# ------------------------------------------------------------------------
Biosphere_drawdown_factor: 1.2448


# Run-time debug switch (0 off, 1 on)
# -----------------------------------
DEBUG: 0
