#------------------------------------------------------------------------------
#!                  Harvard-NASA Emissions Component (HEMCO)                   !
#------------------------------------------------------------------------------
#BOP
#
# !MODULE: HEMCO_sa_Config.template
#
# !DESCRIPTION: Template file used to create the HEMCO_sa_Config.rc file.
#  This allows the user to customize the file by replacing several tokens
#  in filenames and directory paths.
#\\
#\\
# !REMARKS:
#  The following tokens will be replaced:
#  (1) ROOT : Filepath to HEMCO root data directory
#  (2) MET  : Met field type (from G-C compilation command)
#  (3) GRID : Horizontal grid type (from G-C compilation command)
#  (4) SIM  : Simulation type (from G-C compilation command)
#  (5) NEST : Nested-grid type (CH, EU, NA, SE)
#  (6) LNOX : String for OTD/LIS lightning NOx files:
#             (a) For GEOS-5 this is either "geos5.1.0" or "geos5.2.0".  
#             (b) For other met fields, this is the same as MET.
# 
# !REVISION HISTORY: 
#  17 Apr 2014 - R. Yantosca - Initial version
#  02 Jul 2014 - R. Yantosca - Now use a 1 x 1 file for DMS seawater
#  02 Jul 2014 - R. Yantosca - Now added LNOX token
#  17 Jul 2014 - R. Yantosca - Updated for HEMCO standalone

#EOP
#------------------------------------------------------------------------------
#BOC

###############################################################################
BEGIN SECTION SETTINGS
###############################################################################
#
ROOT                        : ./data 
GridFile                    : HEMCO_sa_Grid.rc
SpecFile                    : HEMCO_sa_Spec.rc
TimeFile                    : HEMCO_sa_Time.rc
DiagnFile                   : HEMCO_sa_Diagn.rc
DiagnPrefix                 : output/HEMCO_sa.diagnostics
DiagnFreq                   : Hourly
Logfile                     : output/HEMCO_sa.log
Unit tolerance              : 2
Negative values             : 0
Verbose                     : 0
Warnings                    : 1
#
END SECTION SETTINGS 

###############################################################################
BEGIN SECTION EXTENSION SWITCHES
###############################################################################
#
# ExtNr ExtName           on/off  Species 
0       Base              : on    *             
    --> MACCITY           :       true
    --> EMEP              :       true
#
END SECTION EXTENSION SWITCHES 

###############################################################################
BEGIN SECTION BASE EMISSIONS 
###############################################################################

# ExtNr	Name sourceFile	sourceVar sourceTime C/R/E SrcDim SrcUnit Species ScalIDs Cat Hier
(((MACCITY
0 EDGAR_CO $ROOT/v42_CO_2008_TOT.0.1x0.1.nc emi_co 2008/1/1/0 C xy kg/m2/s CO - 1 1
)))MACCITY

(((EMEP
0 EMEP_CO   $ROOT/EMEP.generic.1x1.nc CO 1990-2012/1/1/0 C xy kg/m2/s CO 1000    1/2 10
)))EMEP

#
END SECTION BASE EMISSIONS 

###############################################################################
BEGIN SECTION SCALE FACTORS 
###############################################################################

# ScalID Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Oper
#
END SECTION SCALE FACTORS 

###############################################################################
BEGIN SECTION MASKS 
###############################################################################
#
# ScalID Name sourceFile sourceVar sourceTime C/R/E SrcDim SrcUnit Oper Lon1/Lat1/Lon2/Lat2
1000 EMEP_MASK   $ROOT/EMEP_mask.geos.1x1.nc            MASK     2000/1/1/0 C xy unitless 1 -30/30/45/70
#
END SECTION MASKS 
 
### END OF HEMCO INPUT FILE ###
