
EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'geosgcm_surf'
#             'geosgcm_ocn3d'
             'geosgcm_ocn3dT'
#             'geosgcm_ocn2d'
             'geosgcm_ocn2dT'
#             'geosgcm_icecat'
#             'geosgcm_icesig'
#             'geosgcm_seaice'
#             'geosgcm_iceflxn'
#             'geosgcm_iceflx'
#             'geosgcm_icethm'
#             'geosgcm_aoflux'
#             'geosgcm_aoil'
#             'geosgcm_aofluxll'
#             'geosgcm_ocn3d_mask'
#             'oletkf_ctrl'
#             'oletkf_ocn3d'
#             'oletkf_ocn2d'
#             'oletkf_seaice'
#             'oletkf_ocnice'
#             'oletkf_icecat'
#             'oletkf_bkg'
#             'mon_test'
#             'geosgcm_intlayer_Nx'
@COMMENT_OBIO             'geosgcm_obio'
             ::

  geosgcm_surf.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_surf.archive:   '%c/Y%y4',
  geosgcm_surf.format:    'CFIO',
  geosgcm_surf.mode:      'time-averaged',
#  geosgcm_surf.monthly:        1 ,
  geosgcm_surf.frequency:  240000,
  geosgcm_surf.resolution: @HIST_IM @HIST_JM,
  geosgcm_surf.fields:    'TA'       , 'SURFACE'       ,
                          'TS'       , 'SURFACE'       ,
                          'FRLAND'   , 'SURFACE'       ,
                          'FRLANDICE', 'SURFACE'       ,
                          'FROCEAN'  , 'SURFACE'       ,
                          'FRACI'    , 'SURFACE'       , 'FRSEAICE' ,
                          'HLATWTR'  , 'SURFACE'       ,
                          'SHWTR'    , 'SURFACE'       ,
                          'LWNDWTR'  , 'SURFACE'       ,
                          'SWNDWTR'  , 'SURFACE'       ,
                          'TSKINW'   , 'SURFACE'       ,
                          'RH2M'     , 'SURFACE'       , 'RH'       ,
                          'EVAPOUT'  , 'SURFACE'       ,
                          'SH'       , 'SURFACE'       ,
                          'SNO'      , 'SURFACE'       ,
                          'QS'       , 'SURFACE'       ,
                          'PRECTOT'  , 'SURFACE'       ,
#                          'DRPARN'   , 'SURFACE'       ,
#                          'DFPARN'   , 'SURFACE'       ,
#                          'DRNIRN'   , 'SURFACE'       ,
#                          'DFNIRN'   , 'SURFACE'       ,
#                          'DRUVRN'   , 'SURFACE'       ,
#                          'DFUVRN'   , 'SURFACE'       ,
                          ::

  geosgcm_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d.archive:   '%c/Y%y4',
  geosgcm_ocn3d.mode:      'time-averaged',
  geosgcm_ocn3d.format: 'CFIO',        
  geosgcm_ocn3d.resolution: @HIST_IM @HIST_JM,
#  geosgcm_ocn3d.monthly:        1 ,
  geosgcm_ocn3d.frequency:  240000,
  geosgcm_ocn3d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn3d.levels: 'vgrid.ascii'
  geosgcm_ocn3d.fields:  'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
             'TCON'  , 'MOM',
             'SWHEAT', 'OCEAN',
             'HC', 'MOM',
                     'MASSCELLO', 'MOM',
                      ::

  geosgcm_ocn2d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2d.archive:   '%c/Y%y4',
  geosgcm_ocn2d.mode:      'time-averaged',
  geosgcm_ocn2d.format: 'CFIO',
  geosgcm_ocn2d.resolution: @HIST_IM @HIST_JM,
#  geosgcm_ocn2d.monthly:        1 ,
  geosgcm_ocn2d.frequency:  240000,
  geosgcm_ocn2d.regrid_exch: 'tile_hist.bin',
  geosgcm_ocn2d.fields:    'UW'    , 'MOM', 'US'
                 'VW'    , 'MOM', 'VS'
           'TW'    , 'MOM', 'TS'
           'SW'    , 'MOM', 'SS'
           'SSH'    , 'MOM',
           'SLV'    , 'MOM',
                   'QFLUX' , 'OCEAN',
                   'LWFLX' , 'OCEAN',
           'SWFLX' , 'OCEAN',
                   'SHFLX' , 'OCEAN',
           'RAIN' , 'OCEAN',
           'SNOW' , 'OCEAN',
           'SFLX' , 'OCEAN',
           'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
           'FROCEAN'   , 'OCEAN',
           'MASKO'   , 'OCEAN',
           'AREA'   , 'MOM',
           'MLD'   ,    'MOM',
           'DISCHARGE'   ,    'OCEAN',
           'TS_FOUND'   ,    'OCEAN',
           'SS_FOUND'   ,    'OCEAN',
           'FRZMLT'   ,    'OCEAN',
           'FRAZIL'   ,    'MOM',
           'PSI'   ,    'MOM'
                      ::

  geosgcm_ocn3dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3dT.archive:   '%c/Y%y4',
  geosgcm_ocn3dT.mode:      'time-averaged',
  geosgcm_ocn3dT.format: 'CFIO',           
  geosgcm_ocn3dT.frequency:  240000,
  geosgcm_ocn3dT.levels: 'vgrid.ascii'
  geosgcm_ocn3dT.fields:  'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'RHO'   , 'MOM',
#             'TCON'  , 'MOM',
#             'SWHEAT', 'OCEAN',
#             'SWFRAC', 'MOM',
#             'HC', 'MOM',
#                     'MASSCELLO', 'MOM',
                      ::

  geosgcm_ocn2dT.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn2dT.archive:   '%c/Y%y4',
  geosgcm_ocn2dT.mode:      'time-averaged',
  geosgcm_ocn2dT.format: 'CFIO',
  geosgcm_ocn2dT.frequency:  240000,
  geosgcm_ocn2dT.fields:    'UW'    , 'MOM', 'US'
                 'VW'    , 'MOM', 'VS'
           'TW'    , 'MOM', 'TS'
           'SW'    , 'MOM', 'SS'
           'SSH'    , 'MOM',
           'SLV'    , 'MOM',
                   'QFLUX' , 'OCEAN',
                   'LWFLX' , 'OCEAN',
           'SWFLX' , 'OCEAN',
                   'SHFLX' , 'OCEAN',
           'RAIN' , 'OCEAN',
           'SNOW' , 'OCEAN',
           'SFLX' , 'OCEAN',
           'RFLUX' , 'OCEAN',
                   'TAUX'  , 'OCEAN',
                   'TAUY'  , 'OCEAN',
           'FROCEAN'   , 'OCEAN',
           'MASKO'   , 'OCEAN',
           'AREA'   , 'MOM',
           'MLD'   ,    'MOM',
           'DISCHARGE'   ,    'OCEAN',
           'TS_FOUND'   ,    'OCEAN',
           'SS_FOUND'   ,    'OCEAN',
           'FRZMLT'   ,    'OCEAN',
           'FRAZIL'   ,    'MOM',
           'PSI'   ,    'MOM'
           'SRESTORE', 'OCEAN',
           ::

   geosgcm_icecat.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_icecat.archive:   '%c/Y%y4',
   geosgcm_icecat.format: 'CFIO',
   geosgcm_icecat.mode: 'time-averaged',
   geosgcm_icecat.frequency:  240000,
   geosgcm_icecat.fields:    'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                             'HIFLXE'         , 'SEAICE',
                             'HIFLXN'         , 'SEAICE',
                           ::

   geosgcm_icesig.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_icesig.archive:   '%c/Y%y4',
   geosgcm_icesig.format:    'CFIO',
   geosgcm_icesig.frequency: 120000,
   geosgcm_icesig.duration:  240000,
   geosgcm_icesig.fields:    'SIG1'          , 'SEAICE',
                             'SIG2'          , 'SEAICE',
                             'SHEAR'         , 'SEAICE',
                             'DIVU'          , 'SEAICE',
                           ::

   geosgcm_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_seaice.archive:   '%c/Y%y4',
   geosgcm_seaice.format: 'CFIO',
   geosgcm_seaice.mode: 'time-averaged',
   geosgcm_seaice.frequency:  240000,
   geosgcm_seaice.fields:    'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'VEL'         , 'SEAICE',
                             'STRENGTH'    , 'SEAICE',
                             'SHEAR'       , 'SEAICE',
                             'DIVU'        , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HICE0'       , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             'HSNO0'       , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DRAFT0'      , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'DVIDTD'      , 'SEAICE', 
                             'DAIDTD'      , 'SEAICE', 
                             'DVIRDGDT'    , 'SEAICE',
                             'STRCORX'     , 'SEAICE',
                             'STRCORY'     , 'SEAICE',
                             'STRTLTX'     , 'SEAICE',
                             'STRTLTY'     , 'SEAICE',
                             'STRINTX'     , 'SEAICE',
                             'STRINTY'     , 'SEAICE',
                             'TAUXOCNB'    , 'SEAICE',
                             'TAUYOCNB'    , 'SEAICE',
                             'TAUXI'       , 'SEAICE',
                             'TAUYI'       , 'SEAICE',
                             'TAUXIB'      , 'SEAICE',
                             'TAUYIB'      , 'SEAICE',
                             'TAUXBOT'     , 'SEAICE',
                             'TAUYBOT'     , 'SEAICE',
                             'UOCN'        , 'SEAICE',
                             'VOCN'        , 'SEAICE',
                             'SSH'         , 'SEAICE',
                             'SLV'         , 'SEAICE',
                             'AREA'        , 'SEAICE',
                             'FROCEAN'     , 'SEAICE',
                             'TMASK'       , 'SEAICE',
                             'FHOCN'       , 'SEAICE',
                             'FSALT'       , 'SEAICE',
                             'FRESH'       , 'SEAICE',
                              ::

  geosgcm_iceflxn.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_iceflxn.archive:   '%c/Y%y4',
  geosgcm_iceflxn.format:     'CFIO',
  geosgcm_iceflxn.mode:       'time-averaged',
  geosgcm_iceflxn.frequency:   240000,
  geosgcm_iceflxn.regrid_exch:'tile.bin',
  geosgcm_iceflxn.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_iceflxn.fields:     'FCONDBOTN'      , 'SEAICETHERMO', 'fcondbotn',
                              'SHICEN'         , 'SEAICETHERMO',
                              'FSWSFCN'      , 'SEAICETHERMO',
                              'ALBIN'          , 'SEAICETHERMO',
                              'ALBSN'          , 'SEAICETHERMO', 
                              'FCONDTOPN'         , 'SEAICETHERMO',
                              'FSURFN'      , 'SEAICETHERMO',
                              'HLWUPN'          , 'SEAICETHERMO',
                              'LWNDSRFN'          , 'SEAICETHERMO',
                              'TSURFN'          , 'SEAICETHERMO', 
                           ::

  geosgcm_iceflx.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_iceflx.archive:   '%c/Y%y4',
  geosgcm_iceflx.format:     'CFIO',
  geosgcm_iceflx.mode: 'time-averaged',
  geosgcm_iceflx.frequency:   240000,
  geosgcm_iceflx.regrid_exch:'tile.bin',
  geosgcm_iceflx.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_iceflx.fields:   'LWDNSRF'             , 'SEAICETHERMO',
                           'SWDNSRF'             , 'SEAICETHERMO',
                           'HLWUPICE'            , 'SEAICETHERMO',
                           'HLATICE'             , 'SEAICETHERMO',
                           'SHICE'               , 'SEAICETHERMO',
                           'SWNDICE'             , 'SEAICETHERMO',
                           'FCONDTOP'            , 'SEAICETHERMO',
                           'SIALB'               , 'SEAICETHERMO',
                           'FSURFICE'            , 'SEAICETHERMO',
                           'LWNDICE'             , 'SEAICETHERMO',
                             ::

  geosgcm_icethm.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_icethm.archive:   '%c/Y%y4',
  geosgcm_icethm.format:     'CFIO',
  geosgcm_icethm.mode: 'time-averaged',
  geosgcm_icethm.frequency:   240000,
  geosgcm_icethm.regrid_exch:'tile.bin',
  geosgcm_icethm.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_icethm.fields:   'DVIDTT'              , 'SEAICETHERMO',  'dvidtt',
                           'DAIDTT'              , 'SEAICETHERMO',  'daidtt',
                           'FBOT'                , 'SEAICETHERMO',  'fbot',
                           'FSWTHRU'             , 'SEAICETHERMO',  'fswthru',
                           'USTARI'              , 'SEAICETHERMO',  'ustari',
                           'GHTSKIN'             , 'SEAICETHERMO',  'ghtskin',
                           'FCONDTOP'            , 'SEAICETHERMO',  'fcondtop',
                           'FCONDBOT'            , 'SEAICETHERMO',  'fcondbot',
                           'MELTT'               , 'SEAICETHERMO',
                           'MELTB'               , 'SEAICETHERMO',
                           'MELTL'               , 'SEAICETHERMO',
                           'MELTS'               , 'SEAICETHERMO',
                           'CONGEL'              , 'SEAICETHERMO',
                           'FRAZIL'              , 'SEAICETHERMO',
                           'SNOICE'              , 'SEAICETHERMO',
                           'SUBLIM'              , 'SEAICETHERMO',
                           'SNOONICE'            , 'SEAICETHERMO',
                           'SUBLIMFLX'           , 'SEAICETHERMO',
                           ::

  geosgcm_aoflux.template:   '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_aoflux.archive:   '%c/Y%y4',
  geosgcm_aoflux.format:     'CFIO',
  geosgcm_aoflux.mode:       'time-averaged',
  geosgcm_aoflux.frequency:    240000,
  geosgcm_aoflux.regrid_exch:'tile.bin',
  geosgcm_aoflux.regrid_name:'@OGCM_GRIDNAME',
  geosgcm_aoflux.fields:     'TS_FOUND'    , 'OPENWATER',
                            'SS_FOUND'    , 'OPENWATER',
                            'AO_DRNIR'    , 'OPENWATER',
                            'AO_DFNIR'    , 'OPENWATER',
                            'PENUVR'      , 'SALTWATER',
                            'PENUVF'      , 'SALTWATER',
                            'PENPAR'      , 'SALTWATER',
                            'PENPAF'      , 'SALTWATER',
                            'FSURF'       , 'SALTWATER',
                            'SHOUT'       , 'OPENWATER',
                            'AO_SHFLX'    , 'OPENWATER',
                            'EVAPOUT'     , 'OPENWATER',
                            'AO_QFLUX'    , 'OPENWATER',
                            'LWNDSRF'     , 'OPENWATER',
                            'AO_LWFLX'    , 'OPENWATER',
                            'SWNDWTR'     , 'OPENWATER',
                            'RAINOCN'     , 'OPENWATER',
                            'AO_RAIN'     , 'OPENWATER',
                            'SNOWOCN'     , 'OPENWATER',
                            'AO_SNOW'     , 'OPENWATER',
                            'FRACI'       , 'SEAICETHERMO',
                            'FRZMLT'      , 'SEAICETHERMO',
                            'FRESH'       , 'SEAICETHERMO',
                            'FHOCN'       , 'SEAICETHERMO',
                            'FSALT'       , 'SEAICETHERMO',
                            'FRACW'       , 'OPENWATER',
                ::

  geosgcm_aoil.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_aoil.archive:   '%c/Y%y4',
  geosgcm_aoil.format:    'CFIO',
  geosgcm_aoil.mode:      'time-averaged',
  geosgcm_aoil.frequency:  030000,
  geosgcm_aoil.resolution: @HIST_IM @HIST_JM,
  geosgcm_aoil.fields:    'TS'          , 'SURFACE'     ,
                               'U10M;V10M'    , 'SURFACE'  ,
                               'T10M'         , 'SURFACE'  ,
                               'Q10M'         , 'SURFACE'  , 'QV10M'            ,
                               'SHWTR'        , 'SURFACE'  , 'HFLUXWTR'         ,
                               'SHICE'        , 'SURFACE'  , 'HFLUXICE'         ,
                               'HLATWTR'      , 'SURFACE'  , 'EFLUXWTR'         ,
                               'HLATICE'      , 'SURFACE'  , 'EFLUXICE'         ,
                               'LWNDWTR'      , 'SURFACE'  , 'LWGNTWTR'         ,
                               'LWNDICE'      , 'SURFACE'  , 'LWGNTICE'         ,
                               'SWNDWTR'      , 'SURFACE'  , 'SWGNTWTR'         ,
                               'SWNDICE'      , 'SURFACE'  , 'SWGNTICE'         ,
                               'SNOWOCN'      , 'SURFACE'  , 'PRECSNOOCN'       ,
                               'RAINOCN'      , 'SURFACE'  ,
                               'TAUXW;TAUYW'  , 'SURFACE'  , 'TAUXWTR;TAUYWTR'  ,
                               'TAUXI;TAUYI'  , 'SURFACE'  , 'TAUXICE;TAUYICE'  ,
                               'FRACI'        , 'SURFACE'  , 'FRSEAICE'         ,
                               'EVAPOUT'      , 'SURFACE'  ,
                               'FRLAND'       , 'SURFACE'  ,
                               'FRLANDICE'    , 'SURFACE'  ,
                               'FRLAKE'       , 'SURFACE'  ,
                               'FROCEAN'      , 'SURFACE'  ,
                               'COSZ'         , 'SOLAR'    ,
                               'DCOOL'        , 'SURFACE'  ,
                               'DWARM'        , 'SURFACE'  ,
                               'TDROP'        , 'SURFACE'  ,
                               'TS_FOUND'     , 'SURFACE'  ,
                               'TDEL'         , 'SURFACE'  ,
                               'BCOOL'        , 'SURFACE'  ,
                               'LCOOL'        , 'SURFACE'  ,
                               'TBAR'         , 'SURFACE'  ,
                               'USTARW'       , 'SURFACE'  ,
                               'SWCOOL'       , 'SURFACE'  ,
                               'QCOOL'        , 'SURFACE'  ,
                               'DELTS'        , 'SURFACE'  ,
                               'QWARM'        , 'SURFACE'  ,
                               'SWWARM'       , 'SURFACE'  ,
                               'LANGM'        , 'SURFACE'  ,
                               'PHIW'         , 'SURFACE'  ,
                               'TAUTW'        , 'SURFACE'  ,
                               'ZETA_W'       , 'SURFACE'  ,
#                              'DTSDT_ANA'    , 'AGCM'     ,
                          ::

  geosgcm_ocn3d_mask.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_ocn3d_mask.archive:   '%c',
  geosgcm_ocn3d_mask.format: 'CFIO',
  geosgcm_ocn3d_mask.frequency:  240000,
  geosgcm_ocn3d_mask.ref_time:   210000,
#  geosgcm_ocn3d_mask.end_date:  20120507,
  geosgcm_ocn3d_mask.fields: 'MOM_3D_MASK', 'MOM', 'tri_3d_mask',
                      ::

  oletkf_ctrl.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ctrl.archive:   '%c/Y%y4',
  oletkf_ctrl.format: 'CFIO',
  oletkf_ctrl.frequency:  060000,
  oletkf_ctrl.fields:   'T'     , 'MOM', 'temp',
                        'S'     , 'MOM', 'salt'
              ::

  oletkf_ocn3d.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ocn3d.archive:   '%c/Y%y4',
  oletkf_ocn3d.format: 'CFIO',
  oletkf_ocn3d.frequency:  060000,
  oletkf_ocn3d.regrid_exch:  'tile_hist_1440x721.bin',
  oletkf_ocn3d.fields:  'T'     , 'MOM',
                        'S'     , 'MOM'
              ::

  oletkf_ocn2d.template: '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ocn2d.archive:   '%c/Y%y4',
  oletkf_ocn2d.format: 'CFIO',
  oletkf_ocn2d.frequency:  060000,
  oletkf_ocn2d.regrid_exch: 'tile_hist_1440x721.bin',
  oletkf_ocn2d.fields: 'SLV'    , 'MOM'
              :: 

  oletkf_seaice.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_seaice.archive:   '%c/Y%y4',
  oletkf_seaice.format: 'CFIO',
  oletkf_seaice.frequency:  060000,
  oletkf_seaice.regrid_exch: 'tile_hist_1440x721.bin',
  oletkf_seaice.fields:      'HICE'        , 'SEAICE',
                              'AICE'        , 'SEAICE',
                              'DRAFT'       , 'SEAICE',
                              'HSNO'        , 'SEAICE'
              ::
 
  oletkf_ocnice.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_ocnice.archive:   '%c/Y%y4',
  oletkf_ocnice.format: 'CFIO',
  oletkf_ocnice.mode: 'time-averaged',
  oletkf_ocnice.frequency:  240000,
  oletkf_ocnice.regrid_exch: 'tile_hist_1440x721.bin',
  oletkf_ocnice.fields:       'HICE'        , 'SEAICE',
                              'AICE'        , 'SEAICE',
                              'DRAFT'       , 'SEAICE',
                              'HSNO'        , 'SEAICE',
                              'T'           , 'MOM'   ,
                              'S'           , 'MOM'   ,
                              'SSH'         , 'MOM'   ,
              ::

   oletkf_icecat.template:  '%y4%m2%d2_%h2%n2z.nc4',
   oletkf_icecat.archive:   '%c/Y%y4',
   oletkf_icecat.format: 'CFIO',
   oletkf_icecat.mode: 'time-averaged',
   oletkf_icecat.frequency:  240000,
   oletkf_icecat.regrid_exch: 'tile_hist_1440x721.bin',
   oletkf_icecat.fields:     'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                           ::

   geosgcm_aofluxll.template:   '%y4%m2%d2_%h2%n2z.nc4',
   geosgcm_aofluxll.archive:   '%c/Y%y4',
   geosgcm_aofluxll.format:     'CFIO',
   geosgcm_aofluxll.mode:       'time-averaged',
   geosgcm_aofluxll.frequency:    240000,
   geosgcm_aofluxll.ref_time:    120000,
   geosgcm_aofluxll.regrid_name: 'PE180x1080-CF'
   geosgcm_aofluxll.regrid_exch: 'tile.bin',
   geosgcm_aofluxll.resolution: 360 181,
   geosgcm_aofluxll.fields: 'TS_FOUND'    , 'OPENWATER',
                             'FRACW'    , 'OPENWATER', 'FRWOPEN',
                             'FRACW'    , 'SALTWATER', 'FRWSALT',
                             'SS_FOUND'    , 'OPENWATER',
                             'AO_DRNIR'    , 'OPENWATER',
                             'AO_DFNIR'    , 'OPENWATER',
                             'PENUVR'      , 'SALTWATER',
                             'PENUVF'      , 'SALTWATER',
                             'PENPAR'      , 'SALTWATER',
                             'PENPAF'      , 'SALTWATER',
                             'FSURF'       , 'SALTWATER',
                             'SHOUT'       , 'OPENWATER',
                             'AO_SHFLX'    , 'OPENWATER',
                             'EVAPOUT'     , 'OPENWATER',
                             'AO_QFLUX'    , 'OPENWATER',
                             'LWNDSRF'     , 'OPENWATER',
                             'AO_LWFLX'    , 'OPENWATER',
                             'SWNDWTR'     , 'OPENWATER',
                             'RAINOCN'     , 'OPENWATER',
                             'AO_RAIN'     , 'OPENWATER',
                             'SNOWOCN'     , 'OPENWATER',
                             'AO_SNOW'     , 'OPENWATER',
                             'FRACI'       , 'SEAICETHERMO',
                             'FRZMLT'      , 'SEAICETHERMO',
                             'FRESH'       , 'SEAICETHERMO',
                             'FHOCN'       , 'SEAICETHERMO',
                             'FSALT'       , 'SEAICETHERMO',
                            ::

  oletkf_bkg.template:  '%y4%m2%d2_%h2%n2z.nc4',
  oletkf_bkg.archive:   '%c/Y%y4',
  oletkf_bkg.format:    'CFIO',
  oletkf_bkg.mode:      'time-averaged',
  oletkf_bkg.frequency:  240000,
  oletkf_bkg.regrid_exch: 'tile_hist_1440x721.bin',
  oletkf_bkg.fields:       'HICE'        , 'SEAICE',
                           'AICE'        , 'SEAICE',
                           'DRAFT'       , 'SEAICE',
                           'HSNO'        , 'SEAICE',
                           'T'           , 'MOM'   ,
                           'S'           , 'MOM'   ,
                           'SSH'         , 'MOM'   ,
                           'PBO'         , 'OCEAN' ,
                           ::

  mon_test.template:  '%y4%m2%d2_%h2%n2z.nc4',
  mon_test.archive:   '%c/Y%y4',
  mon_test.mode: 'time-averaged',
  mon_test.monthly: 1,
  mon_test.format: 'CFIO',
  mon_test.frequency:  240000,
  mon_test.regrid_exch: 'tile_hist.bin',
  mon_test.fields:    'UW'    , 'MOM', 'US'
                      'VW'    , 'MOM', 'VS'
                      'TW'    , 'MOM', 'TS'
                      'SW'    , 'MOM', 'SS'
                      'SSH'    , 'MOM',
                      'SLV'    , 'MOM',
                      'QFLUX' , 'OCEAN',
                      'LWFLX' , 'OCEAN',
                      'SWFLX' , 'OCEAN',
                      'SHFLX' , 'OCEAN',
                      'RAIN' , 'OCEAN',
                      'SNOW' , 'OCEAN',
                      'SFLX' , 'OCEAN',
                      'RFLUX' , 'OCEAN',
                      'TAUX'  , 'OCEAN',
                      'TAUY'  , 'OCEAN',
                      'FROCEAN'   , 'OCEAN',
                      'MASKO'   , 'OCEAN',
                      'AREA'   , 'MOM',
                      'MLD'   ,    'MOM',
                      'DISCHARGE'   ,    'OCEAN',
                      'TS_FOUND'   ,    'OCEAN',
                      'SS_FOUND'   ,    'OCEAN',
                      'FRZMLT'   ,    'OCEAN',
                      'FRAZIL'   ,    'MOM',
                      'PSI'   ,    'MOM'
                      ::

  geosgcm_obio.template:  '%y4%m2%d2_%h2%n2z.nc4',
  geosgcm_obio.mode:      'time-averaged',
  geosgcm_obio.format:    'CFIO',
  geosgcm_obio.resolution: @HIST_IM @HIST_JM,
#  geosgcm_obio.monthly:        1 ,
  geosgcm_obio.frequency: 240000,
#  geosgcm_obio.duration:  240000,
  geosgcm_obio.regrid_exch: 'tile_hist.bin',
  geosgcm_obio.levels: 'vgrid.ascii'
  geosgcm_obio.fields:    'NITRATE'   , 'OBIO',
                        'AMMON'     , 'OBIO',
                        'SILICA'    , 'OBIO',
                        'IRON'      , 'OBIO',
                        'DIATOM'     , 'OBIO',
                        'CHLORO'     , 'OBIO',
                        'CYANO'      , 'OBIO',
                        'COCCO'      , 'OBIO',
                        'DINO'       , 'OBIO',
                        'PHAEO'      , 'OBIO',
                        'HERB'       , 'OBIO',
                        'CDET'       , 'OBIO',
                        'SDET'       , 'OBIO',
                        'FDET'       , 'OBIO',
                        'DOC'        , 'OBIO',
                        'DIC'        , 'OBIO',
                        'ALK'        , 'OBIO',
                        'PIC'        , 'OBIO',
                        'CDC'        , 'OBIO',
                        'PCO2'       , 'OBIO',
                        'FCO2'       , 'OBIO',
                        'PPDIATOM'   , 'OBIO',
                        'PPCHLORO'   , 'OBIO',
                        'PPCYANO'    , 'OBIO',
                        'PPCOCCO'    , 'OBIO',
                        'PPDINO'     , 'OBIO',
                        'PPPHAEO'    , 'OBIO',
                        'SWHEAT'     , 'ORAD',
                        'KPAR'       , 'ORAD',
                        'TIRRQ'      , 'ORAD',
                        'CDOMABSQ'   , 'ORAD',
                        'SRESTORE'   , 'OCEAN',
                         ::

