EXPID:  @EXPID
EXPDSC: @EXPDSC
EXPSRC: @EXPSRC

COLLECTIONS: 'iau_inst_6hr_glo_L720x361_v72'
             'iau_tavg_1mo_glo_L720x361_p49'
             'atm_inst_6hr_glo_L720x361_p49'
             'sfc_tavg_3hr_glo_L720x361_sfc'
             'sfc_tavg_1hr_glo_L720x361_sfc'
             'mjo_tavg_1dy_glo_L720x361_slv'
             'rad_tavg_1mo_glo_L720x361_p49'
             'mst_tavg_1mo_glo_L720x361_p49'
             'trb_tavg_1mo_glo_L720x361_p49'
             'gwd_tavg_1mo_glo_L720x361_p49'
             'tnd_tavg_1mo_glo_L720x361_p49'
             'int_tavg_1dy_glo_L720x361_slv'
             'aer_tavg_1mo_glo_L720x361_slv'
             'aer_inst_3hr_glo_L720x361_slv'
             'aer_tavg_1mo_glo_L720x361_p27'
             'ocn_tavg_1mo_glo_L720x361_z50'
             'ocn_tavg_1mo_glo_T1440x1080_z50'
#            'ocn_tavg_1dy_glo_T1440x1080_z50'
             'msk_inst_con_glo_T1440x1080_z50'
             'ocn_inst_6hr_glo_T1440x1080_z50'
             'ocn_inst_6hr_glo_L1440x721_z50'
             'ocn_tavg_1mo_glo_L720x361_slv'
             'ocn_tavg_1mo_glo_T1440x1080_slv'
#            'ocn_tavg_1dy_glo_T1440x1080_slv'
             'ocn_inst_6hr_glo_L1440x721_slv'
#            'ict_tavg_1mo_glo_T1440x1080_slv'
             'ict_tavg_1dy_glo_T1440x1080_slv'
             'ict_inst_6hr_glo_L1440x721_slv'
#   	     'ice_tavg_1mo_glo_T1440x1080_slv'
             'idn_tavg_1dy_glo_T1440x1080_slv'
    	     'ice_tavg_1dy_glo_T1440x1080_slv'
             'ice_inst_6hr_glo_L1440x721_slv'
#            'ifx_tavg_1mo_glo_T1440x1080_slv'
             'ifx_tavg_1dy_glo_T1440x1080_slv'
             'iin_tavg_1dy_glo_T1440x1080_zi4'
             'ith_tavg_1dy_glo_T1440x1080_slv'
    	     'aof_tavg_1mo_glo_T1440x1080_slv'
             'ias_tavg_1dy_glo_T1440x1080_slv'
             'sst_tavg_1dy_glo_L720x361_slv'
             'glc_tavg_1mo_glo_L720x361_slv'
             'aci_tavg_1dy_glo_L360x181_p27'
             'aci_tavg_1dy_glo_L720x361_sfc'
             'mod_inst_6hr_glo_L720x361_sfc'
             'ice_inst_6hr_glo_T1440x1080_slv'
@COMMENT_OBIO             'bio_tavg_1mo_L720x361_z50'
             ::

  iau_inst_6hr_glo_L720x361_v72.template:  '%y4%m2%d2_%h2%n2z.nc4',
  iau_inst_6hr_glo_L720x361_v72.archive:   '%c/Y%y4',
  iau_inst_6hr_glo_L720x361_v72.format:    'CFIO',
  iau_inst_6hr_glo_L720x361_v72.frequency:  060000,
  iau_inst_6hr_glo_L720x361_v72.ref_time:   000000,
  iau_inst_6hr_glo_L720x361_v72.resolution: @HIST_IM @HIST_JM,
  iau_inst_6hr_glo_L720x361_v72.mode:      'instantaneous' ,
  iau_inst_6hr_glo_L720x361_v72.fields: 'DMDTANA'   , 'DYN'          , 'DPDTANA'    ,
                     'DUDT_ANA'  , 'AGCM'         , 'DUDTANA'    ,
                     'DVDT_ANA'  , 'AGCM'         , 'DVDTANA'    ,
                     'DTDT_ANA'  , 'AGCM'         , 'DTDTANA'    ,
                     'DQVDT_ANA' , 'AGCM'         , 'DQDTANA'    ,
                     ::

  iau_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  iau_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  iau_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  iau_tavg_1mo_glo_L720x361_p49.monthly:    1,
  iau_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  iau_tavg_1mo_glo_L720x361_p49.frequency:  060000,
  iau_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  iau_tavg_1mo_glo_L720x361_p49.vscale:     100.0,
  iau_tavg_1mo_glo_L720x361_p49.vunit:     'hPa',
  iau_tavg_1mo_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  iau_tavg_1mo_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  iau_tavg_1mo_glo_L720x361_p49.fields: 'DUDT_ANA;DVDT_ANA'   , 'AGCM'         , 'DUDTANA;DVDTANA'    ,
                          'DTDT_ANA'            , 'AGCM'         , 'DTDTANA'    ,
                          'DQVDT_ANA'           , 'AGCM'         , 'DQDTANA'    ,
                          'DMDTANA'             , 'DYN'          , 'DMDTANA'    ,
                          ::

  atm_inst_6hr_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  atm_inst_6hr_glo_L720x361_p49.archive:   '%c/Y%y4',
  atm_inst_6hr_glo_L720x361_p49.format:    'CFIO',
  atm_inst_6hr_glo_L720x361_p49.frequency:  060000,
  atm_inst_6hr_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  atm_inst_6hr_glo_L720x361_p49.vscale:     100.0,
  atm_inst_6hr_glo_L720x361_p49.vunit:     'hPa',
  atm_inst_6hr_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  atm_inst_6hr_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  atm_inst_6hr_glo_L720x361_p49.fields: 'PHIS'     , 'AGCM'         ,
                          'SLP'      , 'DYN'          ,
                          'U;V'      , 'DYN'          ,
                          'T'        , 'DYN'          ,
                          'PS'       , 'DYN'          ,
                          'ZLE'      , 'DYN'          , 'H'   ,
                          'OMEGA'    , 'DYN'          ,
                          'Q'        , 'MOIST'        , 'QV'  ,
                          'QITOT'    , 'AGCM'         , 'QI'  ,
                          'QLTOT'    , 'AGCM'         , 'QL'  ,
                          'RH2'      , 'MOIST'        , 'RH'  ,
                          'O3'       , 'CHEMISTRY'    ,
                          ::

  sfc_tavg_3hr_glo_L720x361_sfc.template:  '%y4%m2%d2_%h2%n2z.nc4',
  sfc_tavg_3hr_glo_L720x361_sfc.archive:   '%c/Y%y4',
  sfc_tavg_3hr_glo_L720x361_sfc.format:    'CFIO',
  sfc_tavg_3hr_glo_L720x361_sfc.mode:      'time-averaged',
  sfc_tavg_3hr_glo_L720x361_sfc.frequency:  030000,
  sfc_tavg_3hr_glo_L720x361_sfc.resolution: @HIST_IM @HIST_JM,
  sfc_tavg_3hr_glo_L720x361_sfc.fields: 'PHIS'          , 'AGCM'     ,
                          'SGH'           , 'AGCM'     ,
                          'VARFLT'        , 'AGCM'     ,
                          'TROPP_EPV'     , 'AGCM'     ,  'TROPPV' ,
                          'TROPP_THERMAL' , 'AGCM'     ,  'TROPPT' ,
                          'TROPP_BLENDED' , 'AGCM'     ,  'TROPPB' ,
                          'TROPT'         , 'AGCM'     ,
                          'TROPQ'         , 'AGCM'     ,
                          'QVFILL'   , 'AGCM'          ,
                          'OXFILL'   , 'AGCM'          ,
                          'TA'       , 'DYN'           ,
                          'QA'       , 'DYN'           ,
                          'US;VS'    , 'DYN'           ,
                          'DIVG'     , 'DYN'           ,
                          'PS'       , 'DYN'           ,
                          'SPEED'    , 'DYN'           ,
                          'ZPBL'     , 'TURBULENCE'    ,  'PBLH'   ,
                          'TS'       , 'SURFACE'       ,
                          'QS'       , 'SURFACE'       ,
                          'THAT'     , 'SURFACE'       ,
                          'QHAT'     , 'SURFACE'       ,
                          'RASPBLQ'  , 'MOIST'         ,
                          'CN_PRCP'  , 'MOIST'         , 'CNPRCP' ,
                          'LS_PRCP'  , 'MOIST'         , 'LSPRCP' ,
                          'AN_PRCP'  , 'MOIST'         , 'ANPRCP' ,
                          'SNO'      , 'MOIST'         ,
                          'PLS'      , 'MOIST'         ,
                          'PCU'      , 'MOIST'         ,
			  'TPREC'    , 'MOIST'         ,
                          'PRECTOT'  , 'SURFACE'       , 'PRECTOTCORR'  ,
                          'LWP'      , 'MOIST'         ,
                          'CCWP'     , 'MOIST'         ,
                          'SPLAND'   , 'SURFACE'       ,
                          'SPWATR'   , 'SURFACE'       ,
                          'RUNSURF'  , 'SURFACE'       ,
                          'BASEFLOW' , 'SURFACE'       ,
                          'CT'       , 'SURFACE'       ,
                          'CQ'       , 'SURFACE'       ,
                          'CN'       , 'SURFACE'       ,
                          'CM'       , 'SURFACE'       ,
                          'RI'       , 'SURFACE'       , 'RISFC' ,
                          'LAI'      , 'SURFACE'       ,
                          'GRN'      , 'SURFACE'       ,
                          'SNOMAS'   , 'SURFACE'       ,
                          'ITY'      , 'SURFACE'       , 'VEGTYPE' ,
                          'WET1'     , 'SURFACE'       ,
                          'WET2'     , 'SURFACE'       ,
                          'WET3'     , 'SURFACE'       ,
                          'TSOIL1'   , 'SURFACE'       ,
                          'TSOIL2'   , 'SURFACE'       ,
                          'FRLAND'   , 'SURFACE'       ,
                          'FRLANDICE', 'SURFACE'       ,
                          'FRLAKE'   , 'SURFACE'       ,
                          'FRACI'    , 'SURFACE'       , 'FRSEAICE' ,
                          'FROCEAN'  , 'SURFACE'       ,
                          'USTAR'    , 'SURFACE'       ,
                          'Z0'       , 'SURFACE'       ,
                          'Z0H'      , 'SURFACE'       ,
                          'LHFX'     , 'SURFACE'       ,
                          'SH'       , 'SURFACE'       , 'SHFX'     ,
                          'EVAP'     , 'SURFACE'       ,
                          'TAUX;TAUY', 'SURFACE'       ,
                          'RHOS'     , 'SURFACE'       ,
                          'U2M;V2M'  , 'SURFACE'       ,
                          'T2M'      , 'SURFACE'       ,
                          'Q2M'      , 'SURFACE'       ,
                          'U10M;V10M', 'SURFACE'       ,
                          'T10M'     , 'SURFACE'       ,
                          'Q10M'     , 'SURFACE'       ,
                          'U50M;V50M', 'SURFACE'       ,
                          'GUST'     , 'SURFACE'       ,
                          'VENT'     , 'SURFACE'       ,
                          'ASNOW'    , 'SURFACE'       ,
                          'EVLAND'    , 'SURFACE'      ,
                          'LHLAND'    , 'SURFACE'      ,
                          'SHLAND'    , 'SURFACE'      ,
                          'SWLAND'    , 'SURFACE'      ,
                          'LWLAND'    , 'SURFACE'      ,
                          'GHLAND'    , 'SURFACE'      ,
                          'SMLAND'    , 'SURFACE'      ,
                          'TWLAND'    , 'SURFACE'      ,
                          'TELAND'    , 'SURFACE'      ,
                          'DZ'        , 'DYN'          ,  'HLML',
                          'RUNOFF'    , 'SURFACE'      ,
                          'DISCHARGE' , 'SURFACE'      ,
                          'EVAPOUT'  , 'SURFACE'  ,
                          'DCOOL'    , 'SURFACE'  ,
                          'DWARM'    , 'SURFACE'  ,
                          'TDROP'    , 'SURFACE'  , 'DELT_COOL' ,
                          'TS_FOUND' , 'SURFACE'  , 
                          'TDEL'     , 'SURFACE'  ,
                          'BCOOL'    , 'SURFACE'  ,
                          'LCOOL'    , 'SURFACE'  ,
                          'TBAR'     , 'SURFACE'  ,
                          'USTARW'   , 'SURFACE'  ,
                          'SWCOOL'   , 'SURFACE'  ,
                          'QCOOL'    , 'SURFACE'  ,
                          'DELTS'    , 'SURFACE'  ,
                          'QWARM'    , 'SURFACE'  ,
                          'SWWARM'   , 'SURFACE'  ,
                          'LANGM'    , 'SURFACE'  ,
                          'PHIW'     , 'SURFACE'  ,
                          'TAUTW'    , 'SURFACE'  ,
                          'ZETA_W'   , 'SURFACE'  ,
                          'EVPICE'   , 'SURFACE'  ,
                          'EVPSNO'   , 'SURFACE'  ,
                          'EVPINT'   , 'SURFACE'  ,
                          'EVPSOI'   , 'SURFACE'  ,
                          'EVPVEG'   , 'SURFACE'  ,
                          'FRSAT'    , 'SURFACE'  ,
                          'FRUST'    , 'SURFACE'  ,
                          'FRWLT'    , 'SURFACE'  ,
                          'TPSAT'    , 'SURFACE'  ,
                          'TPUNST'   , 'SURFACE'  ,
                          'TPWLT'    , 'SURFACE'  ,
                          'TPSURF'   , 'SURFACE'  , 'TSURF'     ,
                          'GHTSKIN'  , 'SURFACE'  ,
                          'WAT10CM'  , 'SURFACE'  ,
                          'WATSOI'   , 'SURFACE'  ,
                          'ICESOI'   , 'SURFACE'  ,
                          'SHWTR'        , 'SURFACE'  , 'HFLUXWTR'         ,
                          'SHICE'        , 'SURFACE'  , 'HFLUXICE'         ,
                          'HLATWTR'      , 'SURFACE'  , 'EFLUXWTR'         ,
                          'HLATICE'      , 'SURFACE'  , 'EFLUXICE'         ,
                          'LWNDWTR'      , 'SURFACE'  , 'LWGNTWTR'         ,
                          'LWNDICE'      , 'SURFACE'  , 'LWGNTICE'         ,
                          'SWNDWTR'      , 'SURFACE'  , 'SWGNTWTR'         ,
                          'SWNDICE'      , 'SURFACE'  , 'SWGNTICE'         ,
                          'SNOWOCN'      , 'SURFACE'  , 'PRECSNOOCN'       ,
                          'RAINOCN'      , 'SURFACE'  ,
                          'TAUXW;TAUYW'  , 'SURFACE'  , 'TAUXWTR;TAUYWTR'  ,
                          'TAUXI;TAUYI'  , 'SURFACE'  , 'TAUXICE;TAUYICE'  ,
                          'COSZ'         , 'SOLAR'    ,
                          'T2MDEW'       , 'SURFACE'  ,
                          'T2M'          , 'SURFACE'  , 'T2MMAX'  , 'MAX'  ,
                          'T2M'          , 'SURFACE'  , 'T2MMIN'  , 'MIN'  ,
                          'TPW'          , 'MOIST'    ,
                          'TQV'          , 'AGCM'     ,
                          'CWP'          , 'MOIST'    ,
                          'IWP'          , 'MOIST'    ,
                          ::

  sfc_tavg_1hr_glo_L720x361_sfc.template:  '%y4%m2%d2_%h2%n2z.nc4',
  sfc_tavg_1hr_glo_L720x361_sfc.archive:   '%c/Y%y4',
  sfc_tavg_1hr_glo_L720x361_sfc.format:    'CFIO',
  sfc_tavg_1hr_glo_L720x361_sfc.frequency:  010000,
  sfc_tavg_1hr_glo_L720x361_sfc.resolution: @HIST_IM @HIST_JM,
  sfc_tavg_1hr_glo_L720x361_sfc.mode: 'time-averaged',
  sfc_tavg_1hr_glo_L720x361_sfc.fields: 'TPREC'    , 'MOIST'       ,
                             'RUNOFF'   , 'SURFACE'     ,
                             'EVAP'     , 'SURFACE'     ,
                             'PS'       , 'DYN'         , 'ps'  ,
                             'U2M'      , 'SURFACE'     ,
                             'V2M'      , 'SURFACE'     ,
                             'T2M'      , 'SURFACE'     ,
                             'Q2M'      , 'SURFACE'     ,
                             'RH2M'     , 'SURFACE'     ,
                             'U10M'     , 'SURFACE'     ,
                             'V10M'     , 'SURFACE'     ,
                             'T10M'     , 'SURFACE'     ,
                             'Q10M'     , 'SURFACE'     ,
                             'TPREC'    , 'MOIST'       , 'PRECTOT' ,
                             ::

  mjo_tavg_1dy_glo_L720x361_slv.template:  '%y4%m2%d2_%h2%n2z.nc4', 
  mjo_tavg_1dy_glo_L720x361_slv.archive:   '%c', 
  mjo_tavg_1dy_glo_L720x361_slv.format:    'CFIO', 
  mjo_tavg_1dy_glo_L720x361_slv.mode:      'time-averaged', 
  mjo_tavg_1dy_glo_L720x361_slv.frequency:  240000, 
  mjo_tavg_1dy_glo_L720x361_slv.ref_time:   000000, 
  mjo_tavg_1dy_glo_L720x361_slv.resolution: @HIST_IM @HIST_JM,
  mjo_tavg_1dy_glo_L720x361_slv.fields:  'OLR'       ,  'IRRAD'        , 
                          'U200'      ,  'DYN'    , 
                          'U850'      ,  'DYN'    , 
                          'TPREC'     ,  'MOIST'  , 
                          :: 

  rad_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  rad_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  rad_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  rad_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  rad_tavg_1mo_glo_L720x361_p49.monthly:    1,
  rad_tavg_1mo_glo_L720x361_p49.frequency:  240000,
  rad_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  rad_tavg_1mo_glo_L720x361_p49.fields: 'PHIS'     , 'AGCM'          ,
                          'TAUTT'    , 'SOLAR'         ,
                          'TAULO'    , 'SOLAR'         ,
                          'TAUMD'    , 'SOLAR'         ,
                          'TAUHI'    , 'SOLAR'         ,
                          'CLDTT'    , 'SOLAR'         ,
                          'CLDLO'    , 'SOLAR'         ,
                          'CLDMD'    , 'SOLAR'         ,
                          'CLDHI'    , 'SOLAR'         ,
                          'RADSRF'   , 'RADIATION'     ,
                          'FLNS'      , 'IRRAD'        ,
                          'FLNSC'     , 'IRRAD'        ,
                          'FLNSA'     , 'IRRAD'        , 'FLNSCNA'   ,
                          'OLR'       , 'IRRAD'        ,
                          'OLC'       , 'IRRAD'        , 'OLRC'      ,
                          'OLA'       , 'IRRAD'        , 'OLRCNA'    ,
                          'LWS'       , 'IRRAD'        ,
                          'LCS'       , 'IRRAD'        , 'LWSC'      ,
                          'LAS'       , 'IRRAD'        , 'LWSCNA'    ,
                          'SFCEM'     , 'IRRAD'        ,
                          'CLDTMP'    , 'SOLAR'        , 'SWCLDTMP'  ,
                          'CLDPRS'    , 'SOLAR'        , 'SWCLDPRS'  ,
                          'OSR'       , 'SOLAR'        ,
                          'OSRCLR'    , 'SOLAR'        ,
                          'RSR'       , 'SOLAR'        , 'SWTNET'    ,
                          'RSC'       , 'SOLAR'        , 'SWTNETC'   ,
                          'RSCNA'     , 'SOLAR'        , 'SWTNETCNA' ,
                          'RSRNA'     , 'SOLAR'        , 'SWTNETNA'  ,
                          'SLRTP'     , 'SOLAR'        , 'RADSWT'    ,
                          'SLRSF'     , 'SOLAR'        , 'SWGDWN'    ,
                          'SLRSFC'    , 'SOLAR'        , 'SWGDWNC'   ,
                          'RSRS'      , 'SOLAR'        , 'SWGNET'    ,
                          'RSCS'      , 'SOLAR'        , 'SWGNETC'   ,
                          'RSRSNA'    , 'SOLAR'        , 'SWGNETNA'  ,
                          'RSCSNA'    , 'SOLAR'        , 'SWGNETCNA' ,
                          'ALBEDO'    , 'SOLAR'        ,
                          'ALBVR'     , 'SOLAR'        ,
                          'ALBVF'     , 'SOLAR'        ,
                          'ALBNR'     , 'SOLAR'        ,
                          'ALBNF'     , 'SOLAR'        ,
                          'COSZ'      , 'SOLAR'        ,
                          'EMIS'      , 'SURFACE'      ,
                          ::

  mst_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  mst_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  mst_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  mst_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  mst_tavg_1mo_glo_L720x361_p49.monthly:    1,
  mst_tavg_1mo_glo_L720x361_p49.frequency:  240000,
  mst_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  mst_tavg_1mo_glo_L720x361_p49.vscale:     100.0,
  mst_tavg_1mo_glo_L720x361_p49.vunit:     'hPa',
  mst_tavg_1mo_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  mst_tavg_1mo_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  mst_tavg_1mo_glo_L720x361_p49.fields: 'PHIS'    , 'AGCM'          ,
                           'QL'      , 'MOIST'         ,
                           'QI'      , 'MOIST'         ,
                           'QR'      , 'MOIST'         ,
                           'RI'      , 'MOIST'         , 'RICE'   ,
                           'RL'      , 'MOIST'         , 'RLIQ'   ,
                           'RH1'     , 'MOIST'         ,
                           'CNV_MF0' , 'MOIST'         , 'CNVMF0' ,
                           'CNV_MFD' , 'MOIST'         , 'CNVMFD' ,
                           'CNV_MFC' , 'MOIST'         , 'CNVMFC' ,
                           'REV_CN'  , 'MOIST'         , 'REVCN'  ,
                           'REV_LS'  , 'MOIST'         , 'REVLS'  ,
                           'RSU_CN'  , 'MOIST'         , 'RSUCN'  ,
                           'RSU_LS'  , 'MOIST'         , 'RSULS'  ,
                           'THIM'    , 'PHYSICS'       ,
                           'EVAPC'   , 'MOIST'         ,
                           'SUBLC'   , 'MOIST'         ,
                           'FCLD'    , 'MOIST'         ,
                           'CLCN'    , 'MOIST'         ,
                           'CLLS'    , 'MOIST'         ,
                           'QICN'    , 'MOIST'         ,
                           'QILS'    , 'MOIST'         ,
                           'QLCN'    , 'MOIST'         ,
                           'QLLS'    , 'MOIST'         ,
                           'WSUB'    , 'MOIST'         , 
                           'SMAX_LIQ'    , 'MOIST' , 
                           'CCN01'       , 'MOIST' ,
                           'CCN04'       , 'MOIST' ,
                           'CCN1'        , 'MOIST' ,
                           'SMAX_ICE'    , 'MOIST' ,
                           'CDNC_NUC'    , 'MOIST' ,
                           'INC_NUC'     , 'MOIST' ,            
                           'SO4'         , 'MOIST' ,
                           'DUST'        , 'MOIST' ,
                           'ORG'         , 'MOIST' ,
                           'SEASALT'     , 'MOIST' ,
                           'BCARBON'     , 'MOIST' ,
                           'NCPL_VOL'    , 'MOIST' ,
                           'NCPI_VOL'    , 'MOIST' ,
                           'NHET_NUC'    , 'MOIST' , 
                           'NLIM_NUC'    , 'MOIST' ,
                           'CFLIQ'       , 'MOIST' ,
                           'CFICE'       , 'MOIST' ,
                           'SC_ICE'      , 'MOIST' ,
                           'NHET_IMM'    , 'MOIST' ,
                           'NHET_DEP'    , 'MOIST' ,    
                           'DUST_IMM'    , 'MOIST' ,
                           'DUST_DEP'    , 'MOIST' , 
                           'SIGW_GW'     , 'MOIST' ,
                           'SIGW_CNV'    , 'MOIST' ,
                           'SIGW_TURB'   , 'MOIST' ,
                           'SIGW_RC'     , 'MOIST' ,
                           'IWP'         , 'MOIST' ,
                           'CNV_FICE'    , 'MOIST' ,
                           'CNV_NDROP'   , 'MOIST' ,
                           'CNV_NICE'    , 'MOIST' ,
                           'SAT_RAT'     , 'MOIST' ,                                  
                           'SCF_ALL'     , 'MOIST' ,
                           'SCF'         , 'MOIST' ,
                           'CCNCOLUMN'   , 'MOIST' , 
                           'NDCOLUMN'    , 'MOIST' ,
                           'NCCOLUMN'    , 'MOIST' ,
                           'CLDREFFI_TOP', 'MOIST' ,
                           'CLDREFFL_TOP', 'MOIST' ,           
                           'NCPL_TOP'    , 'MOIST' ,
                           'NCPI_TOP'    , 'MOIST' ,
                           'PFRZ'        , 'MOIST' ,                     
                           'NCPL_CLDBASE', 'MOIST' ,
                           'LTS'         , 'MOIST' ,
                           ::

  trb_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  trb_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  trb_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  trb_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  trb_tavg_1mo_glo_L720x361_p49.monthly:    1,
  trb_tavg_1mo_glo_L720x361_p49.frequency:  240000,
  trb_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  trb_tavg_1mo_glo_L720x361_p49.vscale:     100.0,
  trb_tavg_1mo_glo_L720x361_p49.vunit:     'hPa',
  trb_tavg_1mo_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  trb_tavg_1mo_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  trb_tavg_1mo_glo_L720x361_p49.fields: 'INTDIS'   , 'TURBULENCE'    ,
                          'TOPDIS'   , 'TURBULENCE'    ,
                          'SRFDIS'   , 'TURBULENCE'    ,
                          'DBUOY'    , 'TURBULENCE'    ,
                          'WERAD'    , 'TURBULENCE'    ,
                          'KH'       , 'TURBULENCE'    ,
                          'KM'       , 'TURBULENCE'    ,
                          'KHLS'     , 'TURBULENCE'    ,
                          'KMLS'     , 'TURBULENCE'    ,
                          'EKH'      , 'TURBULENCE'    ,
                          'EKM'      , 'TURBULENCE'    ,
                          'KHSFC'    , 'TURBULENCE'    ,
                          'KHRAD'    , 'TURBULENCE'    ,
                          'RI'       , 'TURBULENCE'    ,
                          'DU'       , 'TURBULENCE'    ,
                          ::

  gwd_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  gwd_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  gwd_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  gwd_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  gwd_tavg_1mo_glo_L720x361_p49.monthly:    1,
  gwd_tavg_1mo_glo_L720x361_p49.frequency:  240000,
  gwd_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  gwd_tavg_1mo_glo_L720x361_p49.vscale:     100.0,
  gwd_tavg_1mo_glo_L720x361_p49.vunit:     'hPa',
  gwd_tavg_1mo_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  gwd_tavg_1mo_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  gwd_tavg_1mo_glo_L720x361_p49.fields: 'DUDT_ORO;DVDT_ORO', 'GWD', 'DUDTORO;DVDTORO' ,
                         'DUDT_BKG;DVDT_BKG', 'GWD', 'DUDTBKG;DVDTBKG' ,
                         'DUDT_RAY;DVDT_RAY', 'GWD', 'DUDTRAY;DVDTRAY' ,
                         'TAUOROX;TAUOROY'  , 'GWD',
                         'TAUBKGX;TAUBKGY'  , 'GWD',
                         'DTDT_ORO'         , 'GWD', 'DTDTORO' ,
                         'DTDT_BKG'         , 'GWD', 'DTDTBKG' ,
                         'DTDT_RAY'         , 'GWD', 'DTDTRAY' ,
                         ::

  tnd_tavg_1mo_glo_L720x361_p49.template:  '%y4%m2%d2_%h2%n2z.nc4',
  tnd_tavg_1mo_glo_L720x361_p49.archive:   '%c/Y%y4',
  tnd_tavg_1mo_glo_L720x361_p49.format:    'CFIO',
  tnd_tavg_1mo_glo_L720x361_p49.mode:      'time-averaged',
  tnd_tavg_1mo_glo_L720x361_p49.monthly:    1,
  tnd_tavg_1mo_glo_L720x361_p49.frequency:  240000,
  tnd_tavg_1mo_glo_L720x361_p49.resolution: @HIST_IM @HIST_JM,
  tnd_tavg_1mo_glo_L720x361_p49.vscale:     100.0,
  tnd_tavg_1mo_glo_L720x361_p49.vunit:     'hPa',
  tnd_tavg_1mo_glo_L720x361_p49.vvars:     'log(PLE)' , 'DYN'          ,
  tnd_tavg_1mo_glo_L720x361_p49.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 40 30 20 10 7 5 4 3 2 1 0.7 0.5 0.4 0.3 0.2 0.1 0.07 0.05 0.04 0.03 0.02,
  tnd_tavg_1mo_glo_L720x361_p49.fields: 'DUDTDYN;DVDTDYN', 'DYN'     ,
                          'UIT;VIT'        , 'PHYSICS' ,  'DUDTTRB;DVDTTRB' ,
                          'DUDT;DVDT'      , 'MOIST'   ,  'DUDTMST;DVDTMST' ,
                          'DUDT;DVDT'      , 'GWD'     ,  'DUDTGWD;DVDTGWD' ,
                          'DTDTDYN'  , 'DYN'           ,
                          'TIM'      , 'PHYSICS'       ,  'DTDTMST'    ,
                          'TIT'      , 'PHYSICS'       ,  'DTDTTRB'    ,
                          'TTMGW'    , 'GWD'           ,  'DTDTGWD'    ,
                          'RADLW'    , 'RADIATION'     ,  'DTDTLW'     ,
                          'RADLWC'   , 'RADIATION'     ,  'DTDTLWC'    ,
                          'RADLWCNA' , 'RADIATION'     ,  'DTDTLWCNA'  ,
                          'RADSW'    , 'RADIATION'     ,  'DTDTSW'     ,
                          'RADSWC'   , 'RADIATION'     ,  'DTDTSWC'    ,
                          'RADSWNA'  , 'RADIATION'     ,  'DTDTSWNA'   ,
                          'RADSWCNA' , 'RADIATION'     ,  'DTDTSWCNA'  ,
                          'TIF'      , 'PHYSICS'       ,  'DTDTFRI'    ,
                          'DQVDTDYN' , 'DYN'           ,
                          'DQDT'     , 'MOIST'         ,  'DQVDTMST'   ,
                          'QVIT'     , 'PHYSICS'       ,  'DQVDTTRB'   ,
                          'H2O_TEND' , 'CHEMISTRY'     ,  'DQVDTCHM'   ,
                          'DPDTPHY'  , 'PHYSICS'       ,
                          ::

  int_tavg_1dy_glo_L720x361_slv.template:      '%y4%m2%d2_%h2%n2z.nc4' ,
  int_tavg_1dy_glo_L720x361_slv.archive:       '%c/Y%y4',
  int_tavg_1dy_glo_L720x361_slv.format:        'CFIO' ,
  int_tavg_1dy_glo_L720x361_slv.descr:         '2d, Daily, Time-Averaged,Single-Level,Assimilation,Vertically Integrated Diagnostics' ,
  int_tavg_1dy_glo_L720x361_slv.mode:          'time-averaged' ,
  int_tavg_1dy_glo_L720x361_slv.frequency:     240000,
  int_tavg_1dy_glo_L720x361_slv.conservative:  1,
  int_tavg_1dy_glo_L720x361_slv.resolution:    @HIST_IM @HIST_JM,
  int_tavg_1dy_glo_L720x361_slv.fields: 'UCPT'          , 'DYN'         , 'UFLXCPT'      ,
                                  'VCPT'          , 'DYN'         , 'VFLXCPT'      ,
                                  'UPHI'          , 'DYN'         , 'UFLXPHI'      ,
                                  'VPHI'          , 'DYN'         , 'VFLXPHI'      ,
                                  'UKE'           , 'DYN'         , 'UFLXKE'       ,
                                  'VKE'           , 'DYN'         , 'VFLXKE'       ,
                                  'UQV'           , 'DYN'         , 'UFLXQV'       ,
                                  'VQV'           , 'DYN'         , 'VFLXQV'       ,
                                  'UQL'           , 'DYN'         , 'UFLXQL'       ,
                                  'VQL'           , 'DYN'         , 'VFLXQL'       ,
                                  'UQI'           , 'DYN'         , 'UFLXQI'       ,
                                  'VQI'           , 'DYN'         , 'VFLXQI'       ,
                                  :: 

  aer_tavg_1mo_glo_L720x361_slv.format:     'CFIO',
  aer_tavg_1mo_glo_L720x361_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  aer_tavg_1mo_glo_L720x361_slv.archive:    '%c/Y%y4',
  aer_tavg_1mo_glo_L720x361_slv.mode:       'time-averaged',
  aer_tavg_1mo_glo_L720x361_slv.monthly:    1,
  aer_tavg_1mo_glo_L720x361_slv.frequency:  240000,
  aer_tavg_1mo_glo_L720x361_slv.resolution: @HIST_IM @HIST_JM,
  aer_tavg_1mo_glo_L720x361_slv.fields: 'LWI'         , 'SURFACE'     ,
                               'TOTEXTTAU'   , 'GOCART'      ,
                               'TOTSCATAU'   , 'GOCART'      ,
                               'TOTANGSTR'   , 'GOCART'      ,
                               'DUEM001'     , 'GOCART'      ,
                               'DUEM002'     , 'GOCART'      ,
                               'DUEM003'     , 'GOCART'      ,
                               'DUEM004'     , 'GOCART'      ,
                               'DUEM005'     , 'GOCART'      ,
                               'DUSD001'     , 'GOCART'      ,
                               'DUSD002'     , 'GOCART'      ,
                               'DUSD003'     , 'GOCART'      ,
                               'DUSD004'     , 'GOCART'      ,
                               'DUSD005'     , 'GOCART'      ,
                               'DUDP001'     , 'GOCART'      ,
                               'DUDP002'     , 'GOCART'      ,
                               'DUDP003'     , 'GOCART'      ,
                               'DUDP004'     , 'GOCART'      ,
                               'DUDP005'     , 'GOCART'      ,
                               'DUWT001'     , 'GOCART'      ,
                               'DUWT002'     , 'GOCART'      ,
                               'DUWT003'     , 'GOCART'      ,
                               'DUWT004'     , 'GOCART'      ,
                               'DUWT005'     , 'GOCART'      ,
                               'DUSV001'     , 'GOCART'      ,
                               'DUSV002'     , 'GOCART'      ,
                               'DUSV003'     , 'GOCART'      ,
                               'DUSV004'     , 'GOCART'      ,
                               'DUSV005'     , 'GOCART'      ,
                               'DUSMASS'     , 'GOCART'      ,
                               'DUCMASS'     , 'GOCART'      ,
                               'DUEXTTAU'    , 'GOCART'      ,
                               'DUSCATAU'    , 'GOCART'      ,
                               'DUANGSTR'    , 'GOCART'      ,
                               'DUEXTTFM'    , 'GOCART'      ,
                               'DUSCATFM'    , 'GOCART'      ,
                               'DUSMASS25'   , 'GOCART'      ,
                               'DUCMASS25'   , 'GOCART'      ,
                               'DUEXTT25'    , 'GOCART'      ,
                               'DUSCAT25'    , 'GOCART'      ,
                               'DUAERIDX'    , 'GOCART'      ,
                               'DUFLUXU'     , 'GOCART'      ,
                               'DUFLUXV'     , 'GOCART'      ,
                               'SSEM001'     , 'GOCART'      ,
                               'SSEM002'     , 'GOCART'      ,
                               'SSEM003'     , 'GOCART'      ,
                               'SSEM004'     , 'GOCART'      ,
                               'SSEM005'     , 'GOCART'      ,
                               'SSSD001'     , 'GOCART'      ,
                               'SSSD002'     , 'GOCART'      ,
                               'SSSD003'     , 'GOCART'      ,
                               'SSSD004'     , 'GOCART'      ,
                               'SSSD005'     , 'GOCART'      ,
                               'SSDP001'     , 'GOCART'      ,
                               'SSDP002'     , 'GOCART'      ,
                               'SSDP003'     , 'GOCART'      ,
                               'SSDP004'     , 'GOCART'      ,
                               'SSDP005'     , 'GOCART'      ,
                               'SSWT001'     , 'GOCART'      ,
                               'SSWT002'     , 'GOCART'      ,
                               'SSWT003'     , 'GOCART'      ,
                               'SSWT004'     , 'GOCART'      ,
                               'SSWT005'     , 'GOCART'      ,
                               'SSSV001'     , 'GOCART'      ,
                               'SSSV002'     , 'GOCART'      ,
                               'SSSV003'     , 'GOCART'      ,
                               'SSSV004'     , 'GOCART'      ,
                               'SSSV005'     , 'GOCART'      ,
                               'SSSMASS'     , 'GOCART'      ,
                               'SSCMASS'     , 'GOCART'      ,
                               'SSEXTTAU'    , 'GOCART'      ,
                               'SSSCATAU'    , 'GOCART'      ,
                               'SSANGSTR'    , 'GOCART'      ,
                               'SSEXTTFM'    , 'GOCART'      ,
                               'SSSCATFM'    , 'GOCART'      ,
                               'SSSMASS25'   , 'GOCART'      ,
                               'SSCMASS25'   , 'GOCART'      ,
                               'SSEXTT25'    , 'GOCART'      ,
                               'SSSCAT25'    , 'GOCART'      ,
                               'SSAERIDX'    , 'GOCART'      ,
                               'SSFLUXU'     , 'GOCART'      ,
                               'SSFLUXV'     , 'GOCART'      ,
                               'SUEM001'     , 'GOCART'      ,
                               'SUEM002'     , 'GOCART'      ,
                               'SUEM003'     , 'GOCART'      ,
                               'SUEM004'     , 'GOCART'      ,
                               'SUDP001'     , 'GOCART'      ,
                               'SUDP002'     , 'GOCART'      ,
                               'SUDP003'     , 'GOCART'      ,
                               'SUDP004'     , 'GOCART'      ,
                               'SUWT001'     , 'GOCART'      ,
                               'SUWT002'     , 'GOCART'      ,
                               'SUWT003'     , 'GOCART'      ,
                               'SUWT004'     , 'GOCART'      ,
                               'SUSV001'     , 'GOCART'      ,
                               'SUSV002'     , 'GOCART'      ,
                               'SUSV003'     , 'GOCART'      ,
                               'SUSV004'     , 'GOCART'      ,
                               'SO2SMASS'    , 'GOCART'      ,
                               'SO2CMASS'    , 'GOCART'      ,
                               'SO4SMASS'    , 'GOCART'      ,
                               'SO4CMASS'    , 'GOCART'      ,
                               'DMSSMASS'    , 'GOCART'      ,
                               'DMSCMASS'    , 'GOCART'      ,
                               'SUPSO2'      , 'GOCART'      ,
                               'SUPSO4G'     , 'GOCART'      ,
                               'SUPSO4AQ'    , 'GOCART'      ,
                               'SUPSO4WT'    , 'GOCART'      ,
                               'SUPMSA'      , 'GOCART'      ,
                               'SUEXTTAU'    , 'GOCART'      ,
                               'SUSCATAU'    , 'GOCART'      ,
                               'SUANGSTR'    , 'GOCART'      ,
                               'SO4EMAN'     , 'GOCART'      ,
                               'SO2EMAN'     , 'GOCART'      ,
                               'SO2EMBB'     , 'GOCART'      ,
                               'SO2EMVN'     , 'GOCART'      ,
                               'SO2EMVE'     , 'GOCART'      ,
                               'SUFLUXU'     , 'GOCART'      ,
                               'SUFLUXV'     , 'GOCART'      ,
                               'BCEM001'     , 'GOCART'      ,
                               'BCEM002'     , 'GOCART'      ,
                               'BCDP001'     , 'GOCART'      ,
                               'BCDP002'     , 'GOCART'      ,
                               'BCSV001'     , 'GOCART'      ,
                               'BCSV002'     , 'GOCART'      ,
                               'BCWT001'     , 'GOCART'      ,
                               'BCWT002'     , 'GOCART'      ,
                               'BCSMASS'     , 'GOCART'      ,
                               'BCCMASS'     , 'GOCART'      ,
                               'BCEXTTAU'    , 'GOCART'      ,
                               'BCSCATAU'    , 'GOCART'      ,
                               'BCANGSTR'    , 'GOCART'      ,
                               'BCHYPHIL'    , 'GOCART'      ,
                               'BCEMBB'      , 'GOCART'      ,
                               'BCEMBF'      , 'GOCART'      ,
                               'BCEMAN'      , 'GOCART'      ,
                               'BCFLUXU'     , 'GOCART'      ,
                               'BCFLUXV'     , 'GOCART'      ,
                               'OCEM001'     , 'GOCART'      ,
                               'OCEM002'     , 'GOCART'      ,
                               'OCDP001'     , 'GOCART'      ,
                               'OCDP002'     , 'GOCART'      ,
                               'OCSV001'     , 'GOCART'      ,
                               'OCSV002'     , 'GOCART'      ,
                               'OCWT001'     , 'GOCART'      ,
                               'OCWT002'     , 'GOCART'      ,
                               'OCSMASS'     , 'GOCART'      ,
                               'OCCMASS'     , 'GOCART'      ,
                               'OCEXTTAU'    , 'GOCART'      ,
                               'OCSCATAU'    , 'GOCART'      ,
                               'OCANGSTR'    , 'GOCART'      ,
                               'OCEMBB'      , 'GOCART'      ,
                               'OCEMBF'      , 'GOCART'      ,
                               'OCEMAN'      , 'GOCART'      ,
                               'OCEMBG'      , 'GOCART'      ,
                               'OCHYPHIL'    , 'GOCART'      ,
                               'OCFLUXU'     , 'GOCART'      ,
                               'OCFLUXV'     , 'GOCART'      ,
                               'HNO3SMASS'   , 'GOCART'      ,
                               'NH3SMASS'    , 'GOCART'      ,
                               'NH4SMASS'    , 'GOCART'      ,
                               'NISMASS'     , 'GOCART'      ,
                               'NISMASS25'   , 'GOCART'      ,
                               'HNO3CMASS'   , 'GOCART'      ,
                               'NH3CMASS'    , 'GOCART'      ,
                               'NH4CMASS'    , 'GOCART'      ,
                               'NICMASS'     , 'GOCART'      ,
                               'NICMASS25'   , 'GOCART'      ,
                               'NIEXTTFM'    , 'GOCART'      ,
                               'NISCATFM'    , 'GOCART'      ,
                               'NIEXTTAU'    , 'GOCART'      ,
                               'NISCATAU'    , 'GOCART'      ,
                               'NIANGSTR'    , 'GOCART'      ,
                               'NIPNO3AQ'    , 'GOCART'      ,
                               'NIPNH4AQ'    , 'GOCART'      ,
                               'NIPNH3AQ'    , 'GOCART'      ,
                               'NIHT001'     , 'GOCART'      ,
                               'NIHT002'     , 'GOCART'      ,
                               'NIHT003'     , 'GOCART'      ,
                               'NISD001'     , 'GOCART'      ,
                               'NISD002'     , 'GOCART'      ,
                               'NISD003'     , 'GOCART'      ,
                               'NIDP001'     , 'GOCART'      ,
                               'NIDP002'     , 'GOCART'      ,
                               'NIDP003'     , 'GOCART'      ,
                               'NIWT001'     , 'GOCART'      ,
                               'NIWT002'     , 'GOCART'      ,
                               'NIWT003'     , 'GOCART'      ,
                               'NISV001'     , 'GOCART'      ,
                               'NISV002'     , 'GOCART'      ,
                               'NISV003'     , 'GOCART'      ,
                               'NH3EM'       , 'GOCART'      ,
                               'NH3DP'       , 'GOCART'      ,
                               'NH3WT'       , 'GOCART'      ,
                               'NH3SV'       , 'GOCART'      ,
                               'NH4SD'       , 'GOCART'      ,
                               'NH4DP'       , 'GOCART'      ,
                               'NH4WT'       , 'GOCART'      ,
                               'NH4SV'       , 'GOCART'      ,
                               'NIFLUXU'     , 'GOCART'      ,
                               'NIFLUXV'     , 'GOCART'      ,
                               'DDUDT'       , 'MOIST'       ,  'DUSV'    ,
                               'DSSDT'       , 'MOIST'       ,  'SSSV'    ,
                               'DOCDT'       , 'MOIST'       ,  'OCSV'    ,
                               'DBCDT'       , 'MOIST'       ,  'BCSV'    ,
                               'DSUDT'       , 'MOIST'       ,  'SUSV'    ,
                               ::

  aer_inst_3hr_glo_L720x361_slv.format:     'CFIO',
  aer_inst_3hr_glo_L720x361_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  aer_inst_3hr_glo_L720x361_slv.archive:    '%c/Y%y4',
  aer_inst_3hr_glo_L720x361_slv.frequency:  030000,
  aer_inst_3hr_glo_L720x361_slv.resolution: @HIST_IM @HIST_JM,
  aer_inst_3hr_glo_L720x361_slv.fields: 'LWI'         , 'SURFACE'     ,
                               'TOTEXTTAU'   , 'GOCART'      ,
                               'DUEXTTAU'    , 'GOCART'      ,
                               'SSEXTTAU'    , 'GOCART'      ,
                               'SUEXTTAU'    , 'GOCART'      ,
                               'BCEXTTAU'    , 'GOCART'      ,
                               'OCEXTTAU'    , 'GOCART'      ,
                               'NIEXTTAU'    , 'GOCART'      ,
                               ::


 aer_tavg_1mo_glo_L720x361_p27.format:     'CFIO' ,  
 aer_tavg_1mo_glo_L720x361_p27.template:   '%y4%m2%d2_%h2%n2z.nc4',   
 aer_tavg_1mo_glo_L720x361_p27.archive:    '%c/Y%y4',
 aer_tavg_1mo_glo_L720x361_p27.frequency:  240000,
 aer_tavg_1mo_glo_L720x361_p27.resolution: @HIST_IM @HIST_JM,
 aer_tavg_1mo_glo_L720x361_p27.mode:       'time-averaged',
 aer_tavg_1mo_glo_L720x361_p27.monthly:    1,
 aer_tavg_1mo_glo_L720x361_p27.vscale:     100.0,    
 aer_tavg_1mo_glo_L720x361_p27.vunit:      'hPa',    
 aer_tavg_1mo_glo_L720x361_p27.vvars:      'log(PLE)' , 'DYN'          ,
 aer_tavg_1mo_glo_L720x361_p27.levels:     1000 975 950 925 900 850 800 750 700 650 600 550 500 450 400 350 300 250 200 150 100 85 70 50 30 20 10,
 aer_tavg_1mo_glo_L720x361_p27.fields: 'PS'          , 'DYN'        , 'PS'        ,
                              'LWI'         , 'SURFACE'    , 'LWI'       ,
                              'AIRDENS'     , 'CHEMENV'    ,
                              'DUMASS'      , 'GOCART'     , 'DU'        ,
                              'SSMASS'      , 'GOCART'     , 'SS'        ,
                              'BCMASS'      , 'GOCART'     , 'BC'        ,
                              'OCMASS'      , 'GOCART'     , 'OC'        ,
                              'GOCART::SO2' , 'GOCART'     , 'SO2'       ,
                              'GOCART::SO4' , 'GOCART'     , 'SO4'       ,
                              'NH3MASS'     , 'GOCART'     , 'NH3'       ,
                              'NH4MASS'     , 'GOCART'     , 'NH4'       ,
                              'NIMASS'      , 'GOCART'     , 'NI'        ,
                              'HNO3CONC'    , 'GOCART'     ,
                              'NICONC'      , 'GOCART'     ,
                              ::

  ocn_tavg_1mo_glo_L720x361_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1mo_glo_L720x361_z50.archive:   '%c/Y%y4',
  ocn_tavg_1mo_glo_L720x361_z50.mode:      'time-averaged',
  ocn_tavg_1mo_glo_L720x361_z50.format:    'CFIO',	   	
  ocn_tavg_1mo_glo_L720x361_z50.monthly:    1,
  ocn_tavg_1mo_glo_L720x361_z50.frequency:  240000,
  ocn_tavg_1mo_glo_L720x361_z50.regrid_exch: 'tile_hist.bin',
  ocn_tavg_1mo_glo_L720x361_z50.regrid_name:'PC720x361-DC',
  ocn_tavg_1mo_glo_L720x361_z50.levels: 'vgrid.ascii',
  ocn_tavg_1mo_glo_L720x361_z50.fields: 'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'SWFRAC', 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
                     ::

  ocn_tavg_1mo_glo_T1440x1080_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1mo_glo_T1440x1080_z50.archive:   '%c/Y%y4',
  ocn_tavg_1mo_glo_T1440x1080_z50.mode:      'time-averaged',
  ocn_tavg_1mo_glo_T1440x1080_z50.format:    'CFIO',	   	
  ocn_tavg_1mo_glo_T1440x1080_z50.monthly:    1,
  ocn_tavg_1mo_glo_T1440x1080_z50.frequency:  240000,
  ocn_tavg_1mo_glo_T1440x1080_z50.levels: 'vgrid.ascii'
  ocn_tavg_1mo_glo_T1440x1080_z50.fields: 'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'SWFRAC', 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
                     ::

  ocn_tavg_1dy_glo_T1440x1080_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1dy_glo_T1440x1080_z50.archive:   '%c/Y%y4',
  ocn_tavg_1dy_glo_T1440x1080_z50.mode:      'time-averaged',
  ocn_tavg_1dy_glo_T1440x1080_z50.format:    'CFIO',	   	
  ocn_tavg_1dy_glo_T1440x1080_z50.frequency:  240000,
  ocn_tavg_1dy_glo_T1440x1080_z50.levels: 'vgrid.ascii'
  ocn_tavg_1dy_glo_T1440x1080_z50.fields: 'DH'    , 'MOM',
                     'T'     , 'MOM',
                     'S'     , 'MOM',
                     'U'     , 'MOM',
                     'V'     , 'MOM',
                     'SWFRAC', 'MOM',
                     'RHO'   , 'MOM',
		     'TCON'  , 'MOM',
		     'SWHEAT', 'OCEAN',
                     ::

  msk_inst_con_glo_T1440x1080_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  msk_inst_con_glo_T1440x1080_z50.archive:   '%c/Y%y4',
  msk_inst_con_glo_T1440x1080_z50.format:    'CFIO',
  msk_inst_con_glo_T1440x1080_z50.frequency:  240000,
  msk_inst_con_glo_T1440x1080_z50.ref_time:   000000,
  msk_inst_con_glo_T1440x1080_z50.end_date:  20120507,
  msk_inst_con_glo_T1440x1080_z50.fields: 'MOM_3D_MASK', 'MOM', 'tri_3d_mask',
                                          ::

  ocn_inst_6hr_glo_T1440x1080_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_inst_6hr_glo_T1440x1080_z50.archive:   '%c/Y%y4',
  ocn_inst_6hr_glo_T1440x1080_z50.format:    'CFIO',
  ocn_inst_6hr_glo_T1440x1080_z50.frequency:  060000,
  ocn_inst_6hr_glo_T1440x1080_z50.fields: 'T'     , 'MOM', 'temp' ,
                        'S'     , 'MOM', 'salt' ,
                        ::

  ocn_inst_6hr_glo_L1440x721_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_inst_6hr_glo_L1440x721_z50.archive:   '%c/Y%y4',
  ocn_inst_6hr_glo_L1440x721_z50.format:    'CFIO',
  ocn_inst_6hr_glo_L1440x721_z50.frequency:  060000,
  ocn_inst_6hr_glo_L1440x721_z50.regrid_exch:'tile_hist_1440x721.data',
  ocn_inst_6hr_glo_L1440x721_z50.regrid_name:'PC1440x721-DC',
  ocn_inst_6hr_glo_L1440x721_z50.fields: 'T'     , 'MOM' ,
                        'S'     , 'MOM' ,
                        ::

  ocn_tavg_1mo_glo_L720x361_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1mo_glo_L720x361_slv.archive:   '%c/Y%y4',
  ocn_tavg_1mo_glo_L720x361_slv.mode:      'time-averaged',
  ocn_tavg_1mo_glo_L720x361_slv.format:    'CFIO',
  ocn_tavg_1mo_glo_L720x361_slv.monthly:    1,
  ocn_tavg_1mo_glo_L720x361_slv.frequency:  240000,
  ocn_tavg_1mo_glo_L720x361_slv.regrid_exch:'tile_hist.bin',
  ocn_tavg_1mo_glo_L720x361_slv.regrid_name:'PC720x361-DC',
  ocn_tavg_1mo_glo_L720x361_slv.fields: 'UW'         , 'MOM'  , 'US'   ,
  	           'VW'         , 'MOM'  , 'VS'   ,
		   'TW'         , 'MOM'  , 'TSFG' ,
		   'SW'         , 'MOM'  , 'SS'
		   'SSH'        , 'MOM'  ,
		   'SLV'        , 'MOM'  ,
                   'QFLUX'      , 'OCEAN',
                   'LWFLX'      , 'OCEAN',
                   'SWFLX'      , 'OCEAN',
                   'SHFLX'      , 'OCEAN',
		   'RAIN'       , 'OCEAN', 'LIQFLUX' ,
		   'SNOW'       , 'OCEAN',
		   'SFLX'       , 'OCEAN',
		   'RFLUX'      , 'OCEAN',
                   'TAUX'       , 'OCEAN',
                   'TAUY'       , 'OCEAN',
		   'FROCEAN'    , 'OCEAN',
		   'MASKO'      , 'OCEAN',
		   'AREA'       , 'MOM'  ,
		   'MLD'        , 'MOM'  ,
		   'DISCHARGE'  , 'OCEAN',
		   'TS_FOUND'   , 'OCEAN', 'BULK_OCEANTEMP' ,
		   'SS_FOUND'   , 'OCEAN',
		   'FRZMLT'     , 'OCEAN',
		   'FRAZIL'     , 'MOM'  ,
		   'SRESTORE'   , 'OCEAN',
                   ::


  ocn_tavg_1mo_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1mo_glo_T1440x1080_slv.archive:   '%c/Y%y4',
  ocn_tavg_1mo_glo_T1440x1080_slv.mode:      'time-averaged',
  ocn_tavg_1mo_glo_T1440x1080_slv.format:    'CFIO',
  ocn_tavg_1mo_glo_T1440x1080_slv.monthly:    1,
  ocn_tavg_1mo_glo_T1440x1080_slv.frequency:  240000,
  ocn_tavg_1mo_glo_T1440x1080_slv.fields: 'UW'        , 'MOM'  , 'US'   ,
  	           'VW'        , 'MOM'  , 'VS'   ,
		   'TW'        , 'MOM'  , 'TSFG' ,
		   'SW'        , 'MOM'  , 'SS'   ,
		   'SSH'       , 'MOM'  ,
		   'SLV'       , 'MOM'  ,
                   'QFLUX'     , 'OCEAN',
                   'LWFLX'     , 'OCEAN',
                   'SWFLX'     , 'OCEAN',
                   'SHFLX'     , 'OCEAN',
		   'RAIN'      , 'OCEAN', 'LIQFLUX' ,
		   'SNOW'      , 'OCEAN',
		   'SFLX'      , 'OCEAN',
		   'RFLUX'     , 'OCEAN',
                   'TAUX'      , 'OCEAN',
                   'TAUY'      , 'OCEAN',
		   'FROCEAN'   , 'OCEAN',
		   'MASKO'     , 'OCEAN',
		   'AREA'      , 'MOM'  ,
		   'MLD'       , 'MOM'  ,
		   'DISCHARGE' , 'OCEAN',
		   'TS_FOUND'  , 'OCEAN', 'BULK_OCEANTEMP',
		   'SS_FOUND'  , 'OCEAN',
		   'FRZMLT'    , 'OCEAN',
		   'FRAZIL'    , 'MOM'  ,
		   ::

  ocn_tavg_1dy_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ocn_tavg_1dy_glo_T1440x1080_slv.archive:   '%c/Y%y4',
  ocn_tavg_1dy_glo_T1440x1080_slv.mode:      'time-averaged',
  ocn_tavg_1dy_glo_T1440x1080_slv.format:    'CFIO',
  ocn_tavg_1dy_glo_T1440x1080_slv.frequency:  240000,
  ocn_tavg_1dy_glo_T1440x1080_slv.fields: 'UW'        , 'MOM'  , 'US'   ,
  	           'VW'        , 'MOM'  , 'VS'   ,
		   'TW'        , 'MOM'  , 'TSFG' ,
		   'SW'        , 'MOM'  , 'SS'   ,
		   'SSH'       , 'MOM'  ,
		   'SLV'       , 'MOM'  ,
                   'QFLUX'     , 'OCEAN',
                   'LWFLX'     , 'OCEAN',
                   'SWFLX'     , 'OCEAN',
                   'SHFLX'     , 'OCEAN',
		   'RAIN'      , 'OCEAN', 'LIQFLUX' ,
		   'SNOW'      , 'OCEAN',
		   'SFLX'      , 'OCEAN',
		   'RFLUX'     , 'OCEAN',
                   'TAUX'      , 'OCEAN',
                   'TAUY'      , 'OCEAN',
		   'FROCEAN'   , 'OCEAN',
		   'MASKO'     , 'OCEAN',
		   'AREA'      , 'MOM'  ,
		   'MLD'       , 'MOM'  ,
		   'DISCHARGE' , 'OCEAN',
		   'TS_FOUND'  , 'OCEAN', 'BULK_OCEANTEMP' ,
		   'SS_FOUND'  , 'OCEAN',
		   'FRZMLT'    , 'OCEAN',
		   'FRAZIL'    , 'MOM'  ,
		   ::

   ocn_inst_6hr_glo_L1440x721_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ocn_inst_6hr_glo_L1440x721_slv.archive:   '%c/Y%y4',
   ocn_inst_6hr_glo_L1440x721_slv.format:    'CFIO',
   ocn_inst_6hr_glo_L1440x721_slv.frequency:  060000,
   ocn_inst_6hr_glo_L1440x721_slv.regrid_exch:'tile_hist_1440x721.data',
   ocn_inst_6hr_glo_L1440x721_slv.regrid_name:'PC1440x721-DC',
   ocn_inst_6hr_glo_L1440x721_slv.fields: 'SLV'    , 'MOM',
                                          :: 

   ict_tavg_1mo_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ict_tavg_1mo_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   ict_tavg_1mo_glo_T1440x1080_slv.format:    'CFIO',
   ict_tavg_1mo_glo_T1440x1080_slv.mode:      'time-averaged',
   ict_tavg_1mo_glo_T1440x1080_slv.monthly:    1,
   ict_tavg_1mo_glo_T1440x1080_slv.frequency:  240000,
   ict_tavg_1mo_glo_T1440x1080_slv.fields: 'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                             'HIFLXE'         , 'SEAICE',
                             'HIFLXN'         , 'SEAICE',
                             ::

   ict_tavg_1dy_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ict_tavg_1dy_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   ict_tavg_1dy_glo_T1440x1080_slv.format:    'CFIO',
   ict_tavg_1dy_glo_T1440x1080_slv.mode:      'time-averaged',
   ict_tavg_1dy_glo_T1440x1080_slv.frequency:  240000,
   ict_tavg_1dy_glo_T1440x1080_slv.fields: 'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                             'HIFLXE'         , 'SEAICE',
                             'HIFLXN'         , 'SEAICE',
                             ::

   ict_inst_6hr_glo_L1440x721_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ict_inst_6hr_glo_L1440x721_slv.archive:   '%c/Y%y4',
   ict_inst_6hr_glo_L1440x721_slv.format:    'CFIO',
   ict_inst_6hr_glo_L1440x721_slv.frequency:  060000,
   ict_inst_6hr_glo_L1440x721_slv.regrid_exch: 'tile_hist_1440x721.data',
   ict_inst_6hr_glo_L1440x721_slv.fields: 'AICEN'          , 'SEAICE',
                             'VICEN'          , 'SEAICE',
                             ::

   ice_tavg_1dy_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ice_tavg_1dy_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   ice_tavg_1dy_glo_T1440x1080_slv.format:    'CFIO',
   ice_tavg_1dy_glo_T1440x1080_slv.mode:      'time-averaged',
   ice_tavg_1dy_glo_T1440x1080_slv.frequency:  240000,
   ice_tavg_1dy_glo_T1440x1080_slv.fields: 'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             ::

   ice_tavg_1mo_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ice_tavg_1mo_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   ice_tavg_1mo_glo_T1440x1080_slv.format:    'CFIO',
   ice_tavg_1mo_glo_T1440x1080_slv.mode:      'time-averaged',
   ice_tavg_1mo_glo_T1440x1080_slv.monthly:    1,
   ice_tavg_1mo_glo_T1440x1080_slv.frequency:  240000,
   ice_tavg_1mo_glo_T1440x1080_slv.fields: 'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'VEL'         , 'SEAICE',
                             'HICE'        , 'SEAICE',
                             'HICE0'       , 'SEAICE',
                             'HSNO'        , 'SEAICE',
                             'HSNO0'       , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DRAFT0'      , 'SEAICE',
                             'AICE'        , 'SEAICE',
                             'TAUXI'       , 'SEAICE',
                             'TAUYI'       , 'SEAICE',
                             'AREA'        , 'SEAICE',
                             'FROCEAN'     , 'SEAICE',
                             'TMASK'       , 'SEAICE',
                             ::

   idn_tavg_1dy_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   idn_tavg_1dy_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   idn_tavg_1dy_glo_T1440x1080_slv.format:    'CFIO',
   idn_tavg_1dy_glo_T1440x1080_slv.mode:      'time-averaged',
   idn_tavg_1dy_glo_T1440x1080_slv.frequency:  240000,
   idn_tavg_1dy_glo_T1440x1080_slv.fields: 'UI'          , 'SEAICE',
                             'VI'          , 'SEAICE',
                             'VEL'         , 'SEAICE',
                             'STRENGTH'    , 'SEAICE',
                             'SHEAR'       , 'SEAICE',
                             'DIVU'        , 'SEAICE',
                             'HICE0'       , 'SEAICE',
                             'HSNO0'       , 'SEAICE',
                             'DRAFT'       , 'SEAICE',
                             'DRAFT0'      , 'SEAICE',
                             'DVIDTD'      , 'SEAICE', 
                             'DAIDTD'      , 'SEAICE', 
                             'DVIRDGDT'    , 'SEAICE',
                             'STRCORX'     , 'SEAICE',
                             'STRCORY'     , 'SEAICE',
                             'STRTLTX'     , 'SEAICE',
                             'STRTLTY'     , 'SEAICE',
                             'STRINTX'     , 'SEAICE',
                             'STRINTY'     , 'SEAICE',
                             'TAUXOCNB'    , 'SEAICE',
                             'TAUYOCNB'    , 'SEAICE',
                             'TAUXI'       , 'SEAICE',
                             'TAUYI'       , 'SEAICE',
                             'TAUXIB'      , 'SEAICE',
                             'TAUYIB'      , 'SEAICE',
                             'TAUXBOT'     , 'SEAICE',
                             'TAUYBOT'     , 'SEAICE',
                             'UOCN'        , 'SEAICE',
                             'VOCN'        , 'SEAICE',
                             'SLV'         , 'SEAICE',
                             ::

  ice_inst_6hr_glo_L1440x721_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ice_inst_6hr_glo_L1440x721_slv.archive:   '%c/Y%y4',
  ice_inst_6hr_glo_L1440x721_slv.format:    'CFIO',
  ice_inst_6hr_glo_L1440x721_slv.frequency:  060000,
  ice_inst_6hr_glo_L1440x721_slv.regrid_exch: 'tile_hist_1440x721.data',
  ice_inst_6hr_glo_L1440x721_slv.fields: 'HICE'        , 'SEAICE',
                              'AICE'        , 'SEAICE',
                              'DRAFT'       , 'SEAICE',
                              'HSNO'        , 'SEAICE' ,
                              ::

  ifx_tavg_1mo_glo_T1440x1080_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  ifx_tavg_1mo_glo_T1440x1080_slv.archive:    '%c/Y%y4',
  ifx_tavg_1mo_glo_T1440x1080_slv.format:     'CFIO',
  ifx_tavg_1mo_glo_T1440x1080_slv.mode:       'time-averaged',
  ifx_tavg_1mo_glo_T1440x1080_slv.monthly:     1,
  ifx_tavg_1mo_glo_T1440x1080_slv.frequency:   240000,
  ifx_tavg_1mo_glo_T1440x1080_slv.regrid_exch:'tile.bin',
  ifx_tavg_1mo_glo_T1440x1080_slv.regrid_name:'@OGCM_GRIDNAME',
  ifx_tavg_1mo_glo_T1440x1080_slv.fields: 'LWDNSRF'             , 'SEAICETHERMO',
                           'SWDNSRF'             , 'SEAICETHERMO',
                           'HLWUPICE'            , 'SEAICETHERMO',
                           'HLATICE'             , 'SEAICETHERMO',
                           'SHICE'               , 'SEAICETHERMO',
                           'SWNDICE'             , 'SEAICETHERMO',
                           'LWNDICE'             , 'SEAICETHERMO',
                           'FCONDTOP'            , 'SEAICETHERMO',
                           'SIALB'               , 'SEAICETHERMO',
                           'FCONDBOT'            , 'SEAICETHERMO',
                           'FSURFICE'            , 'SEAICETHERMO',
                           ::

  ifx_tavg_1dy_glo_T1440x1080_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  ifx_tavg_1dy_glo_T1440x1080_slv.archive:    '%c/Y%y4',
  ifx_tavg_1dy_glo_T1440x1080_slv.format:     'CFIO',
  ifx_tavg_1dy_glo_T1440x1080_slv.mode:       'time-averaged',
  ifx_tavg_1dy_glo_T1440x1080_slv.frequency:   240000,
  ifx_tavg_1dy_glo_T1440x1080_slv.regrid_exch:'tile.bin',
  ifx_tavg_1dy_glo_T1440x1080_slv.regrid_name:'@OGCM_GRIDNAME',
  ifx_tavg_1dy_glo_T1440x1080_slv.fields: 'LWDNSRF'             , 'SEAICETHERMO',
                           'SWDNSRF'             , 'SEAICETHERMO',
                           'HLWUPICE'            , 'SEAICETHERMO',
                           'HLATICE'             , 'SEAICETHERMO',
                           'SHICE'               , 'SEAICETHERMO',
                           'SWNDICE'             , 'SEAICETHERMO',
                           'LWNDICE'             , 'SEAICETHERMO',
                           'FCONDTOP'            , 'SEAICETHERMO',
                           'SIALB'               , 'SEAICETHERMO',
                           'FCONDBOT'            , 'SEAICETHERMO',
                           'FSURFICE'            , 'SEAICETHERMO',
                           ::

  iin_tavg_1dy_glo_T1440x1080_zi4.template:   '%y4%m2%d2_%h2%n2z.nc4',
  iin_tavg_1dy_glo_T1440x1080_zi4.archive:    '%c/Y%y4',
  iin_tavg_1dy_glo_T1440x1080_zi4.format:     'CFIO',
  iin_tavg_1dy_glo_T1440x1080_zi4.mode:       'time-averaged',
  iin_tavg_1dy_glo_T1440x1080_zi4.frequency:   240000,
  iin_tavg_1dy_glo_T1440x1080_zi4.regrid_exch:'tile.bin',
  iin_tavg_1dy_glo_T1440x1080_zi4.regrid_name:'@OGCM_GRIDNAME',
  iin_tavg_1dy_glo_T1440x1080_zi4.fields: 'TINZ'           , 'SEAICETHERMO', 'tinz'    ,
                           ::

  ith_tavg_1dy_glo_T1440x1080_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  ith_tavg_1dy_glo_T1440x1080_slv.archive:    '%c/Y%y4',
  ith_tavg_1dy_glo_T1440x1080_slv.format:     'CFIO',
  ith_tavg_1dy_glo_T1440x1080_slv.mode:       'time-averaged',
  ith_tavg_1dy_glo_T1440x1080_slv.frequency:   240000,
  ith_tavg_1dy_glo_T1440x1080_slv.regrid_exch:'tile.bin',
  ith_tavg_1dy_glo_T1440x1080_slv.regrid_name:'@OGCM_GRIDNAME',
  ith_tavg_1dy_glo_T1440x1080_slv.fields: 'DVIDTT'              , 'SEAICETHERMO',  'dvidtt',
                           'DAIDTT'              , 'SEAICETHERMO',  'daidtt',
                           'FBOT'                , 'SEAICETHERMO',  'fbot',
                           'FSWTHRU'             , 'SEAICETHERMO',  'fswthru', 
                           'USTARI'              , 'SEAICETHERMO',  'ustari', 
                           'GHTSKIN'             , 'SEAICETHERMO',  'ghtskin', 
                           'MELTT'               , 'SEAICETHERMO',
                           'MELTB'               , 'SEAICETHERMO',
                           'MELTL'               , 'SEAICETHERMO',
                           'MELTS'               , 'SEAICETHERMO',
                           'CONGEL'              , 'SEAICETHERMO',
                           'FRAZIL'              , 'SEAICETHERMO',
                           'SNOICE'              , 'SEAICETHERMO',
                           'SUBLIM'              , 'SEAICETHERMO',
                           'SNOONICE'            , 'SEAICETHERMO',
                           'SUBLIMFLX'           , 'SEAICETHERMO',	
                           ::

  aof_tavg_1mo_glo_T1440x1080_slv.template:   '%y4%m2%d2_%h2%n2z.nc4',
  aof_tavg_1mo_glo_T1440x1080_slv.archive:    '%c/Y%y4',
  aof_tavg_1mo_glo_T1440x1080_slv.format:     'CFIO',
  aof_tavg_1mo_glo_T1440x1080_slv.mode:       'time-averaged',
  aof_tavg_1mo_glo_T1440x1080_slv.monthly:     1,
  aof_tavg_1mo_glo_T1440x1080_slv.frequency:   240000,
  aof_tavg_1mo_glo_T1440x1080_slv.regrid_exch:'tile.bin',
  aof_tavg_1mo_glo_T1440x1080_slv.regrid_name:'@OGCM_GRIDNAME',
  aof_tavg_1mo_glo_T1440x1080_slv.fields: 'TS_FOUND'    , 'OPENWATER',
                            'SS_FOUND'    , 'OPENWATER',
                            'PENUVR'      , 'SEAICETHERMO',   'PENUVRi' ,
                            'PENUVF'      , 'SEAICETHERMO',   'PENUVFi' ,
                            'PENPAR'      , 'SEAICETHERMO',   'PENPARi' ,
                            'PENPAF'      , 'SEAICETHERMO',   'PENPAFi' ,
                            'AO_DRNIR'    , 'OPENWATER',
                            'AO_DFNIR'    , 'OPENWATER',
                            'PENUVR'      , 'SALTWATER',
                            'PENUVF'      , 'SALTWATER',
                            'PENPAR'      , 'SALTWATER',
                            'PENPAF'      , 'SALTWATER',
                            'SHOUT'       , 'OPENWATER',
                            'AO_SHFLX'    , 'OPENWATER',
                            'EVAPOUT'     , 'OPENWATER',
                            'AO_QFLUX'    , 'OPENWATER',
                            'LWNDSRF'     , 'OPENWATER',
                            'AO_LWFLX'    , 'OPENWATER',
                            'SWNDWTR'     , 'OPENWATER',
                            'RAINOCN'     , 'OPENWATER',
                            'AO_RAIN'     , 'OPENWATER',
                            'SNOWOCN'     , 'OPENWATER',
                            'AO_SNOW'     , 'OPENWATER',
                            'FRACI'       , 'SEAICETHERMO',
                            'FRZMLT'      , 'SEAICETHERMO',
                            'FRESH'       , 'SEAICETHERMO',
                            'FHOCN'       , 'SEAICETHERMO',
                            'FSALT'       , 'SEAICETHERMO',
                            ::

   ias_tavg_1dy_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
   ias_tavg_1dy_glo_T1440x1080_slv.archive:   '%c/Y%y4',
   ias_tavg_1dy_glo_T1440x1080_slv.format:    'CFIO',
   ias_tavg_1dy_glo_T1440x1080_slv.mode:      'time-averaged',
   ias_tavg_1dy_glo_T1440x1080_slv.frequency:  240000,
   ias_tavg_1dy_glo_T1440x1080_slv.fields: 'DAIDTNUDG'   , 'SEAICE',
                             'DVIDTNUDG'   , 'SEAICE',
                             'FRACICE'     , 'SEAICEdata',   'aiced',
                             ::

  sst_tavg_1dy_glo_L720x361_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  sst_tavg_1dy_glo_L720x361_slv.archive:   '%c/Y%y4',
  sst_tavg_1dy_glo_L720x361_slv.mode:      'time-averaged',
  sst_tavg_1dy_glo_L720x361_slv.format:    'CFIO',
  sst_tavg_1dy_glo_L720x361_slv.frequency:  240000,
  sst_tavg_1dy_glo_L720x361_slv.ref_time:   000000,
  sst_tavg_1dy_glo_L720x361_slv.regrid_exch: 'tile_hist.bin',
  sst_tavg_1dy_glo_L720x361_slv.regrid_name: 'PC720x361-DC' , 
  sst_tavg_1dy_glo_L720x361_slv.fields:    'TW'    , 'MOM', 'TSFG' ,
                                            ::


  glc_tavg_1mo_glo_L720x361_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  glc_tavg_1mo_glo_L720x361_slv.archive:   '%c/Y%y4',
  glc_tavg_1mo_glo_L720x361_slv.mode:      'time-averaged',
  glc_tavg_1mo_glo_L720x361_slv.format:    'CFIO',
  glc_tavg_1mo_glo_L720x361_slv.monthly:    1,
  glc_tavg_1mo_glo_L720x361_slv.frequency:  240000,
  glc_tavg_1mo_glo_L720x361_slv.ref_time:   000000,
  glc_tavg_1mo_glo_L720x361_slv.regrid_exch: 'tile.bin', 
  glc_tavg_1mo_glo_L720x361_slv.regrid_name: '@AGCM_GRIDNAME',
  glc_tavg_1mo_glo_L720x361_slv.resolution: @HIST_IM @HIST_JM,
  glc_tavg_1mo_glo_L720x361_slv.fields:       'SNOWDP_GL'  , 'LANDICE'  ,
                                'SNOMAS_GL'  , 'LANDICE'  ,
                                'ASNOW_GL'   , 'LANDICE'  ,
                                'RUNOFF'     , 'LANDICE'  ,
                                'WESNSC'     , 'LANDICE'  ,
                                'WESNEXT'    , 'LANDICE'  ,
                                'SNICEALB'   , 'LANDICE'  ,
                                'MELTWTR'    , 'LANDICE'  ,
                                ::

  aci_tavg_1dy_glo_L360x181_p27.template:  '%y4%m2%d2_%h2%n2z.nc4',
  aci_tavg_1dy_glo_L360x181_p27.archive:   '%c/Y%y4',
  aci_tavg_1dy_glo_L360x181_p27.format:    'CFIO',
  aci_tavg_1dy_glo_L360x181_p27.mode:      'time-averaged', 
  aci_tavg_1dy_glo_L360x181_p27.frequency:  240000,
  aci_tavg_1dy_glo_L360x181_p27.resolution: 360 181,
  aci_tavg_1dy_glo_L360x181_p27.vscale:     100.0,
  aci_tavg_1dy_glo_L360x181_p27.vunit:     'hPa',
  aci_tavg_1dy_glo_L360x181_p27.vvars:     'log(PLE)' , 'DYN' ,
  aci_tavg_1dy_glo_L360x181_p27.levels:     1000 975 950 925 900 875 850 825 800 775 750 725 700 650 600 550 500 450 400 350 300 250 200 150 100  50 10,
  aci_tavg_1dy_glo_L360x181_p27.fields: 'PHIS'    , 'AGCM'   ,
                          'CNV_MFD'     , 'MOIST' , 'CNVMFD' ,
                          'CNV_FICE'    , 'MOIST' ,
                          'WSUB'        , 'MOIST' ,
                          'CCN04'       , 'MOIST' ,
                          'SCF_ALL'     , 'MOIST' ,
                          'CDNC_NUC'    , 'MOIST' ,
                          'INC_NUC'     , 'MOIST' ,
                          'NCPL_VOL'    , 'MOIST' ,
                          'NCPI_VOL'    , 'MOIST' ,
                          'NHET_NUC'    , 'MOIST' ,
                          'NHET_IMM'    , 'MOIST' ,     
                          ::  

  aci_tavg_1dy_glo_L720x361_sfc.template:  '%y4%m2%d2_%h2%n2z.nc4',
  aci_tavg_1dy_glo_L720x361_sfc.archive:   '%c/Y%y4',
  aci_tavg_1dy_glo_L720x361_sfc.format:    'CFIO',
  aci_tavg_1dy_glo_L720x361_sfc.mode:      'time-averaged',
  aci_tavg_1dy_glo_L720x361_sfc.frequency:  240000,
  aci_tavg_1dy_glo_L720x361_sfc.resolution: @HIST_IM @HIST_JM,
  aci_tavg_1dy_glo_L720x361_sfc.fields: 'PHIS'     , 'AGCM'  ,
                           'CLDREFFI_TOP', 'MOIST' ,
                           'CLDREFFL_TOP', 'MOIST' ,
                           'NCPL_TOP'    , 'MOIST' ,
                           'NCPI_TOP'    , 'MOIST' ,
                           'NCPL_CLDBASE', 'MOIST' ,
                           'LTS'         , 'MOIST' ,
                           ::

  mod_inst_6hr_glo_L720x361_sfc.template:  '%y4%m2%d2_%h2%n2z.nc4',
  mod_inst_6hr_glo_L720x361_sfc.archive:   '%c/Y%y4',
  mod_inst_6hr_glo_L720x361_sfc.format:    'CFIO',
  mod_inst_6hr_glo_L720x361_sfc.mode:      'instantaneous',
  mod_inst_6hr_glo_L720x361_sfc.frequency:  060000,
  mod_inst_6hr_glo_L720x361_sfc.ref_time:   000000,
  mod_inst_6hr_glo_L720x361_sfc.resolution: @HIST_IM @HIST_JM,
  mod_inst_6hr_glo_L720x361_sfc.fields:    'TCLISCCP'       , 'SATSIM'    ,
                          'MDSCLDFRCTTL'      , 'SATSIM'    ,
                          'MDSCLDFRCWTR'      , 'SATSIM'    ,
                          'MDSCLDFRCICE'      , 'SATSIM'    ,
                          'MDSCLDFRCHI'       , 'SATSIM'    ,
                          'MDSCLDFRCMID'      , 'SATSIM'    ,
                          'MDSCLDFRCLO'       , 'SATSIM'    ,
                          'MDSOPTHCKTTL'      , 'SATSIM'    ,
                          'MDSOPTHCKWTR'      , 'SATSIM'    ,
                          'MDSOPTHCKICE'      , 'SATSIM'    ,
                          'MDSOPTHCKTTLLG'    , 'SATSIM'    ,
                          'MDSOPTHCKWTRLG'    , 'SATSIM'    ,
                          'MDSOPTHCKICELG'    , 'SATSIM'    ,
                          'MDSCLDSZWTR'       , 'SATSIM'    ,
                          'MDSCLDSZICE'       , 'SATSIM'    ,
                          'MDSCLDTOPPS'       , 'SATSIM'    ,
                          'MDSWTRPATH'        , 'SATSIM'    ,
                          'MDSICEPATH'        , 'SATSIM'    ,
                          'CLDTMP'            , 'SOLAR'     , 'SWCLDTMP'  ,
                          'CLDPRS'            , 'SOLAR'     , 'SWCLDPRS'  ,
                          ::

  ice_inst_6hr_glo_T1440x1080_slv.template:  '%y4%m2%d2_%h2%n2z.nc4',
  ice_inst_6hr_glo_T1440x1080_slv.archive:   '%c/Y%y4',
  ice_inst_6hr_glo_T1440x1080_slv.format:    'CFIO',
  ice_inst_6hr_glo_T1440x1080_slv.frequency:  060000,
  ice_inst_6hr_glo_T1440x1080_slv.fields: 'HICE'        , 'SEAICE',
                              'AICE'        , 'SEAICE',
                              'DRAFT'       , 'SEAICE',
                              ::

  bio_tavg_1mo_L720x361_z50.template:  '%y4%m2%d2_%h2%n2z.nc4',
  bio_tavg_1mo_L720x361_z50.mode:      'time-averaged',
  bio_tavg_1mo_L720x361_z50.format:    'CFIO',
  bio_tavg_1mo_L720x361_z50.resolution: 720 361,
  bio_tavg_1mo_L720x361_z50.monthly:        1 ,
#  bio_tavg_1mo_L720x361_z50.frequency: 240000,
#  bio_tavg_1mo_L720x361_z50.duration:  240000,
  bio_tavg_1mo_L720x361_z50.regrid_exch: 'tile_hist.bin',
  bio_tavg_1mo_L720x361_z50.levels: 'vgrid.ascii'
  bio_tavg_1mo_L720x361_z50.fields:  'NITRATE'    , 'OBIO',
                        'AMMON'      , 'OBIO',
                        'SILICA'     , 'OBIO',
                        'IRON'       , 'OBIO',
                        'DIATOM'     , 'OBIO',
                        'CHLORO'     , 'OBIO',
                        'CYANO'      , 'OBIO',
                        'COCCO'      , 'OBIO',
                        'DINO'       , 'OBIO',
                        'PHAEO'      , 'OBIO',
                        'HERB'       , 'OBIO',
                        'CDET'       , 'OBIO',
                        'SDET'       , 'OBIO',
                        'FDET'       , 'OBIO',
                        'DOC'        , 'OBIO',
                        'DIC'        , 'OBIO',
                        'ALK'        , 'OBIO',
                        'PIC'        , 'OBIO',
                        'CDC'        , 'OBIO',
                        'PCO2'       , 'OBIO',
                        'FCO2'       , 'OBIO',
                        'PPDIATOM'   , 'OBIO',
                        'PPCHLORO'   , 'OBIO',
                        'PPCYANO'    , 'OBIO',
                        'PPCOCCO'    , 'OBIO',
                        'PPDINO'     , 'OBIO',
                        'PPPHAEO'    , 'OBIO',
                        'SWHEAT'     , 'ORAD',
                        'KPAR'       , 'ORAD',
                        'TIRRQ'      , 'ORAD',
                        'CDOMABSQ'   , 'ORAD',
                        'SRESTORE'   , 'OCEAN',
                         ::

